<!DOCTYPE html>
<html lang="zh-hans" prefix="og: http://ogp.me/ns# fb: https://www.facebook.com/2008/fbml" class="han-init">
<head>
    <title>让我们一起来构建一个模板引擎（四） - Huang Huang 的博客</title>
    <!-- Using the latest rendering mode for IE -->
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">


    <link href="https://mozillazg.github.io/favicon.ico" rel="icon">

<link rel="canonical" href="https://mozillazg.github.io/2016/06/let-us-build-a-template-engine-part4.html">

        <meta name="author" content="mozillazg" />
        <meta name="keywords" content="lsbate,让我们一起来构建一个模板引擎" />
        <meta name="description" content="在 上篇文章 中我们的模板引擎实现了对 include 和 extends 的支持， 到此为止我们已经实现了模板引擎所需的大部分功能。 在本文中我们将解决一些用于生成 html 的模板引擎需要面对的一些安全问题。 转义 首先要解决的就是转义问题。到目前为止我们的模板引擎并没有对变量和表达式结果进行转义处理， 如果用于生成 html 源码的话就会出现下面这样的问题 ( template3c.py ): &gt;&gt;&gt; from template3c import Template &gt;&gt;&gt; t = Template(&#39;&lt;h1&gt;{{ title }}&lt;/h1&gt;&#39;) &gt;&gt;&gt; t.render({&#39;title&#39;: &#39;hello&lt;br /&gt;world&#39;}) &#39;&lt;h1&gt;hello&lt;br /&gt;world&lt;/h1&gt;&#39; 很明显 title 中包含的标签需要被转义，不然就会出现非预期的结果。 这里我们只对 &amp; &#34; &#39; &gt; &lt; 这几个字符做转义处理，其他的字符可根据需要进行处理。 html_escape_table = { &#39;&amp;&#39;: &#39;&amp;amp;&#39;, &#39;&#34;&#39;: &#39;&amp;quot;&#39;, &#39;\&#39;&#39;: &#39;&amp;apos …" />

    <link href="https://mozillazg.github.io/theme/css/tocbot.css" rel="stylesheet">

        <meta property="og:site_name" content="Huang Huang 的博客" />
        <meta property="og:type" content="article"/>
        <meta property="og:title" content="让我们一起来构建一个模板引擎（四）"/>
        <meta property="og:url" content="https://mozillazg.github.io/2016/06/let-us-build-a-template-engine-part4.html"/>
        <meta property="og:description" content="在 上篇文章 中我们的模板引擎实现了对 include 和 extends 的支持， 到此为止我们已经实现了模板引擎所需的大部分功能。 在本文中我们将解决一些用于生成 html 的模板引擎需要面对的一些安全问题。 转义 首先要解决的就是转义问题。到目前为止我们的模板引擎并没有对变量和表达式结果进行转义处理， 如果用于生成 html 源码的话就会出现下面这样的问题 ( template3c.py ): &gt;&gt;&gt; from template3c import Template &gt;&gt;&gt; t = Template(&#39;&lt;h1&gt;{{ title }}&lt;/h1&gt;&#39;) &gt;&gt;&gt; t.render({&#39;title&#39;: &#39;hello&lt;br /&gt;world&#39;}) &#39;&lt;h1&gt;hello&lt;br /&gt;world&lt;/h1&gt;&#39; 很明显 title 中包含的标签需要被转义，不然就会出现非预期的结果。 这里我们只对 &amp; &#34; &#39; &gt; &lt; 这几个字符做转义处理，其他的字符可根据需要进行处理。 html_escape_table = { &#39;&amp;&#39;: &#39;&amp;amp;&#39;, &#39;&#34;&#39;: &#39;&amp;quot;&#39;, &#39;\&#39;&#39;: &#39;&amp;apos …"/>
        <meta property="article:published_time" content="2016-06-01" />
            <meta property="article:section" content="python" />
            <meta property="article:tag" content="lsbate" />
            <meta property="article:tag" content="让我们一起来构建一个模板引擎" />
            <meta property="article:author" content="mozillazg" />


    <meta name="twitter:card" content="summary">
        <meta name="twitter:site" content="@mozillazg">
        <meta name="twitter:creator" content="@mozillazg">
    <meta name="twitter:domain" content="https://mozillazg.github.io">

    <!-- Bootstrap -->
        <link rel="stylesheet" href="https://mozillazg.github.io/theme/css/bootstrap.min.css" type="text/css"/>
    <link href="https://mozillazg.github.io/theme/css/font-awesome.min.css" rel="stylesheet">

    <link href="https://mozillazg.github.io/theme/css/pygments/github.css" rel="stylesheet">
    <link rel="stylesheet" href="https://mozillazg.github.io/theme/css/style.css" type="text/css"/>
            <link href="https://mozillazg.github.io/static/custom.css" rel="stylesheet">

        <link href="https://mozillazg.github.io/feeds/all.atom.xml" type="application/atom+xml" rel="alternate"
              title="Huang Huang 的博客 ATOM Feed"/>

        <link href="https://mozillazg.github.io/feeds/all.rss.xml" type="application/rss+xml" rel="alternate"
              title="Huang Huang 的博客 RSS Feed"/>


        <link href="https://mozillazg.github.io/feeds/python.atom.xml" type="application/atom+xml" rel="alternate"
              title="Huang Huang 的博客 python ATOM Feed"/>

</head>
<body>

<div class="navbar" role="navigation">
	<div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a href="https://mozillazg.github.io/" class="navbar-brand">
Huang Huang 的博客            </a>
        </div>
        <div class="collapse navbar-collapse navbar-ex1-collapse">
            <ul class="nav navbar-nav">
                    <li><a href="https://mozillazg.github.io/feeds/all.atom.xml">Feed</a></li>
                    <li><a href="/2014/10/pages/about-me.html">About</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
              <li><a href="https://mozillazg.github.io/archives.html"><i class="fa fa-th-list"></i><span class="icon-label">Archives</span></a></li>
            </ul>
        </div>
        <!-- /.navbar-collapse -->
    </div>
</div> <!-- /.navbar -->
<!-- Banner -->
<!-- End Banner -->
<div class="container">
    <div class="row">
        <div class="col-lg-11">
    <section id="content" class="yue">
        <article>
            <header class="text-center">
                <h1>
                    <a href="https://mozillazg.github.io/2016/06/let-us-build-a-template-engine-part4.html"
                       rel="bookmark"
                       title="Permalink to 让我们一起来构建一个模板引擎（四）">
                        让我们一起来构建一个模板引擎（四）
                    </a>
                </h1>
                <p class="published">
                    <time datetime="2016-06-01T00:00:00+00:00">
                    2016-06-01
                    </time>
                </p>
            </header>
            <div class="entry-content">
                <div class="well-sm article-info">
<footer class="post-info">
        <a href="https://mozillazg.github.io/category/python.html">python</a>


<span class="label label-default hide">Tags</span>
	<a href="https://mozillazg.github.io/tag/lsbate.html">lsbate</a>
        /
	<a href="https://mozillazg.github.io/tag/rang-wo-men-yi-qi-lai-gou-jian-yi-ge-mo-ban-yin-qing.html">让我们一起来构建一个模板引擎</a>
    
</footer><!-- /.post-info -->                </div>
                <div>
                <p>在 <a class="reference external" href="https://mozillazg.com/2016/03/let-us-build-a-template-engine-part3.html">上篇文章</a> 中我们的模板引擎实现了对 <tt class="docutils literal">include</tt> 和 <tt class="docutils literal">extends</tt> 的支持，
到此为止我们已经实现了模板引擎所需的大部分功能。
在本文中我们将解决一些用于生成 html 的模板引擎需要面对的一些安全问题。</p>
<div class="section" id="id2">
<h2>转义</h2>
<p>首先要解决的就是转义问题。到目前为止我们的模板引擎并没有对变量和表达式结果进行转义处理，
如果用于生成 html 源码的话就会出现下面这样的问题 ( <a class="reference external" href="https://github.com/mozillazg/lsbate/raw/master/part3/template3c.py">template3c.py</a> ):</p>
<div class="highlight"><pre><span></span><span class="o">&gt;&gt;&gt;</span> <span class="kn">from</span> <span class="nn">template3c</span> <span class="kn">import</span> <span class="n">Template</span>
<span class="o">&gt;&gt;&gt;</span> <span class="n">t</span> <span class="o">=</span> <span class="n">Template</span><span class="p">(</span><span class="s1">&#39;&lt;h1&gt;{{ title }}&lt;/h1&gt;&#39;</span><span class="p">)</span>
<span class="o">&gt;&gt;&gt;</span> <span class="n">t</span><span class="o">.</span><span class="n">render</span><span class="p">({</span><span class="s1">&#39;title&#39;</span><span class="p">:</span> <span class="s1">&#39;hello&lt;br /&gt;world&#39;</span><span class="p">})</span>
<span class="s1">&#39;&lt;h1&gt;hello&lt;br /&gt;world&lt;/h1&gt;&#39;</span>
</pre></div>
<p>很明显 title 中包含的标签需要被转义，不然就会出现非预期的结果。
这里我们只对 <tt class="docutils literal">&amp;</tt> <tt class="docutils literal">&quot;</tt> <tt class="docutils literal">'</tt> <tt class="docutils literal">&gt;</tt> <tt class="docutils literal">&lt;</tt> 这几个字符做转义处理，其他的字符可根据需要进行处理。</p>
<div class="highlight"><pre><span></span><span class="n">html_escape_table</span> <span class="o">=</span> <span class="p">{</span>
    <span class="s1">&#39;&amp;&#39;</span><span class="p">:</span> <span class="s1">&#39;&amp;amp;&#39;</span><span class="p">,</span>
    <span class="s1">&#39;&quot;&#39;</span><span class="p">:</span> <span class="s1">&#39;&amp;quot;&#39;</span><span class="p">,</span>
    <span class="s1">&#39;</span><span class="se">\&#39;</span><span class="s1">&#39;</span><span class="p">:</span> <span class="s1">&#39;&amp;apos;&#39;</span><span class="p">,</span>
    <span class="s1">&#39;&gt;&#39;</span><span class="p">:</span> <span class="s1">&#39;&amp;gt;&#39;</span><span class="p">,</span>
    <span class="s1">&#39;&lt;&#39;</span><span class="p">:</span> <span class="s1">&#39;&amp;lt;&#39;</span><span class="p">,</span>
<span class="p">}</span>


<span class="k">def</span> <span class="nf">html_escape</span><span class="p">(</span><span class="n">text</span><span class="p">):</span>
    <span class="k">return</span> <span class="s1">&#39;&#39;</span><span class="o">.</span><span class="n">join</span><span class="p">(</span><span class="n">html_escape_table</span><span class="o">.</span><span class="n">get</span><span class="p">(</span><span class="n">c</span><span class="p">,</span> <span class="n">c</span><span class="p">)</span> <span class="k">for</span> <span class="n">c</span> <span class="ow">in</span> <span class="n">text</span><span class="p">)</span>
</pre></div>
<p>转义效果:</p>
<div class="highlight"><pre><span></span><span class="o">&gt;&gt;&gt;</span> <span class="n">html_escape</span><span class="p">(</span><span class="s1">&#39;hello&lt;br /&gt;world&#39;</span><span class="p">)</span>
<span class="s1">&#39;hello&amp;lt;br /&amp;gt;world&#39;</span>
</pre></div>
<p>既然有转义自然也要有禁止转义的功能，毕竟不能一刀切否则就丧失灵活性了。</p>
<div class="highlight"><pre><span></span><span class="k">class</span> <span class="nc">NoEscape</span><span class="p">:</span>

    <span class="k">def</span> <span class="nf">__init__</span><span class="p">(</span><span class="bp">self</span><span class="p">,</span> <span class="n">raw_text</span><span class="p">):</span>
        <span class="bp">self</span><span class="o">.</span><span class="n">raw_text</span> <span class="o">=</span> <span class="n">raw_text</span>


<span class="k">def</span> <span class="nf">escape</span><span class="p">(</span><span class="n">text</span><span class="p">):</span>
    <span class="k">if</span> <span class="nb">isinstance</span><span class="p">(</span><span class="n">text</span><span class="p">,</span> <span class="n">NoEscape</span><span class="p">):</span>
        <span class="k">return</span> <span class="nb">str</span><span class="p">(</span><span class="n">text</span><span class="o">.</span><span class="n">raw_text</span><span class="p">)</span>
    <span class="k">else</span><span class="p">:</span>
        <span class="n">text</span> <span class="o">=</span> <span class="nb">str</span><span class="p">(</span><span class="n">text</span><span class="p">)</span>
        <span class="k">return</span> <span class="n">html_escape</span><span class="p">(</span><span class="n">text</span><span class="p">)</span>


<span class="k">def</span> <span class="nf">noescape</span><span class="p">(</span><span class="n">text</span><span class="p">):</span>
    <span class="k">return</span> <span class="n">NoEscape</span><span class="p">(</span><span class="n">text</span><span class="p">)</span>
</pre></div>
<p>最终我们的模板引擎针对转义所做的修改如下(可以下载 <a class="reference external" href="https://github.com/mozillazg/lsbate/raw/master/part4/template4a.py">template4a.py</a> ):</p>
<div class="highlight"><pre><span></span><span class="k">class</span> <span class="nc">Template</span><span class="p">:</span>
    <span class="k">def</span> <span class="nf">__init__</span><span class="p">(</span><span class="bp">self</span><span class="p">,</span> <span class="o">...</span><span class="p">,</span> <span class="n">auto_escape</span><span class="o">=</span><span class="bp">True</span><span class="p">):</span>
        <span class="o">...</span>
        <span class="bp">self</span><span class="o">.</span><span class="n">auto_escape</span> <span class="o">=</span> <span class="n">auto_escape</span>
        <span class="bp">self</span><span class="o">.</span><span class="n">default_context</span><span class="o">.</span><span class="n">setdefault</span><span class="p">(</span><span class="s1">&#39;escape&#39;</span><span class="p">,</span> <span class="n">escape</span><span class="p">)</span>
        <span class="bp">self</span><span class="o">.</span><span class="n">default_context</span><span class="o">.</span><span class="n">setdefault</span><span class="p">(</span><span class="s1">&#39;noescape&#39;</span><span class="p">,</span> <span class="n">noescape</span><span class="p">)</span>
        <span class="o">...</span>

    <span class="k">def</span> <span class="nf">_handle_variable</span><span class="p">(</span><span class="bp">self</span><span class="p">,</span> <span class="n">token</span><span class="p">):</span>
        <span class="k">if</span> <span class="bp">self</span><span class="o">.</span><span class="n">auto_escape</span><span class="p">:</span>
            <span class="bp">self</span><span class="o">.</span><span class="n">buffered</span><span class="o">.</span><span class="n">append</span><span class="p">(</span><span class="s1">&#39;escape({})&#39;</span><span class="o">.</span><span class="n">format</span><span class="p">(</span><span class="n">variable</span><span class="p">))</span>
        <span class="k">else</span><span class="p">:</span>
            <span class="bp">self</span><span class="o">.</span><span class="n">buffered</span><span class="o">.</span><span class="n">append</span><span class="p">(</span><span class="s1">&#39;str({})&#39;</span><span class="o">.</span><span class="n">format</span><span class="p">(</span><span class="n">variable</span><span class="p">))</span>

    <span class="k">def</span> <span class="nf">_parse_another_template_file</span><span class="p">(</span><span class="bp">self</span><span class="p">,</span> <span class="n">filename</span><span class="p">):</span>
        <span class="o">...</span>
        <span class="n">template</span> <span class="o">=</span> <span class="bp">self</span><span class="o">.</span><span class="n">__class__</span><span class="p">(</span>
                <span class="o">...</span><span class="p">,</span>
                <span class="n">auto_escape</span><span class="o">=</span><span class="bp">self</span><span class="o">.</span><span class="n">auto_escape</span>
        <span class="p">)</span>
        <span class="o">...</span>


<span class="k">class</span> <span class="nc">NoEscape</span><span class="p">:</span>
    <span class="k">def</span> <span class="nf">__init__</span><span class="p">(</span><span class="bp">self</span><span class="p">,</span> <span class="n">raw_text</span><span class="p">):</span>
        <span class="bp">self</span><span class="o">.</span><span class="n">raw_text</span> <span class="o">=</span> <span class="n">raw_text</span>

<span class="n">html_escape_table</span> <span class="o">=</span> <span class="p">{</span>
    <span class="s1">&#39;&amp;&#39;</span><span class="p">:</span> <span class="s1">&#39;&amp;amp;&#39;</span><span class="p">,</span>
    <span class="s1">&#39;&quot;&#39;</span><span class="p">:</span> <span class="s1">&#39;&amp;quot;&#39;</span><span class="p">,</span>
    <span class="s1">&#39;</span><span class="se">\&#39;</span><span class="s1">&#39;</span><span class="p">:</span> <span class="s1">&#39;&amp;apos;&#39;</span><span class="p">,</span>
    <span class="s1">&#39;&gt;&#39;</span><span class="p">:</span> <span class="s1">&#39;&amp;gt;&#39;</span><span class="p">,</span>
    <span class="s1">&#39;&lt;&#39;</span><span class="p">:</span> <span class="s1">&#39;&amp;lt;&#39;</span><span class="p">,</span>
<span class="p">}</span>


<span class="k">def</span> <span class="nf">html_escape</span><span class="p">(</span><span class="n">text</span><span class="p">):</span>
    <span class="k">return</span> <span class="s1">&#39;&#39;</span><span class="o">.</span><span class="n">join</span><span class="p">(</span><span class="n">html_escape_table</span><span class="o">.</span><span class="n">get</span><span class="p">(</span><span class="n">c</span><span class="p">,</span> <span class="n">c</span><span class="p">)</span> <span class="k">for</span> <span class="n">c</span> <span class="ow">in</span> <span class="n">text</span><span class="p">)</span>


<span class="k">def</span> <span class="nf">escape</span><span class="p">(</span><span class="n">text</span><span class="p">):</span>
    <span class="k">if</span> <span class="nb">isinstance</span><span class="p">(</span><span class="n">text</span><span class="p">,</span> <span class="n">NoEscape</span><span class="p">):</span>
        <span class="k">return</span> <span class="nb">str</span><span class="p">(</span><span class="n">text</span><span class="o">.</span><span class="n">raw_text</span><span class="p">)</span>
    <span class="k">else</span><span class="p">:</span>
        <span class="n">text</span> <span class="o">=</span> <span class="nb">str</span><span class="p">(</span><span class="n">text</span><span class="p">)</span>
        <span class="k">return</span> <span class="n">html_escape</span><span class="p">(</span><span class="n">text</span><span class="p">)</span>


<span class="k">def</span> <span class="nf">noescape</span><span class="p">(</span><span class="n">text</span><span class="p">):</span>
    <span class="k">return</span> <span class="n">NoEscape</span><span class="p">(</span><span class="n">text</span><span class="p">)</span>
</pre></div>
<p>效果:</p>
<div class="highlight"><pre><span></span><span class="o">&gt;&gt;&gt;</span> <span class="kn">from</span> <span class="nn">template4a</span> <span class="kn">import</span> <span class="n">Template</span>
<span class="o">&gt;&gt;&gt;</span> <span class="n">t</span> <span class="o">=</span> <span class="n">Template</span><span class="p">(</span><span class="s1">&#39;&lt;h1&gt;{{ title }}&lt;/h1&gt;&#39;</span><span class="p">)</span>
<span class="o">&gt;&gt;&gt;</span> <span class="n">t</span><span class="o">.</span><span class="n">render</span><span class="p">({</span><span class="s1">&#39;title&#39;</span><span class="p">:</span> <span class="s1">&#39;hello&lt;br /&gt;world&#39;</span><span class="p">})</span>
<span class="s1">&#39;&lt;h1&gt;hello&amp;lt;br /&amp;gt;world&lt;/h1&gt;&#39;</span>

<span class="o">&gt;&gt;&gt;</span> <span class="n">t</span> <span class="o">=</span> <span class="n">Template</span><span class="p">(</span><span class="s1">&#39;&lt;h1&gt;{{ noescape(title) }}&lt;/h1&gt;&#39;</span><span class="p">)</span>
<span class="o">&gt;&gt;&gt;</span> <span class="n">t</span><span class="o">.</span><span class="n">render</span><span class="p">({</span><span class="s1">&#39;title&#39;</span><span class="p">:</span> <span class="s1">&#39;hello&lt;br /&gt;world&#39;</span><span class="p">})</span>
<span class="s1">&#39;&lt;h1&gt;hello&lt;br /&gt;world&lt;/h1&gt;&#39;</span>
<span class="o">&gt;&gt;&gt;</span>
</pre></div>
</div>
<div class="section" id="exec">
<h2>exec 的安全问题</h2>
<p>由于我们的模板引擎是使用 <tt class="docutils literal">exec</tt> 函数来执行生成的代码的，所以就需要注意一下
<tt class="docutils literal">exec</tt> 函数的安全问题，预防可能的服务端模板注入攻击（详见 <a class="reference external" href="https://mozillazg.com/2016/05/python-some-security-problems-about-use-exec-function.rst.html">使用 exec 函数时需要注意的一些安全问题</a> ）。</p>
<p>首先要限制的是在模板中使用内置函数和执行时上下文变量( <a class="reference external" href="https://github.com/mozillazg/lsbate/raw/master/part4/template4b.py">template4b.py</a> ):</p>
<div class="highlight"><pre><span></span><span class="k">class</span> <span class="nc">Template</span><span class="p">:</span>
    <span class="o">...</span>

    <span class="k">def</span> <span class="nf">render</span><span class="p">(</span><span class="bp">self</span><span class="p">,</span> <span class="n">context</span><span class="o">=</span><span class="bp">None</span><span class="p">):</span>
        <span class="sd">&quot;&quot;&quot;渲染模版&quot;&quot;&quot;</span>
        <span class="n">namespace</span> <span class="o">=</span> <span class="p">{}</span>
        <span class="n">namespace</span><span class="o">.</span><span class="n">update</span><span class="p">(</span><span class="bp">self</span><span class="o">.</span><span class="n">default_context</span><span class="p">)</span>
        <span class="n">namespace</span><span class="o">.</span><span class="n">setdefault</span><span class="p">(</span><span class="s1">&#39;__builtins__&#39;</span><span class="p">,</span> <span class="p">{})</span>   <span class="c1"># &lt;---</span>
        <span class="k">if</span> <span class="n">context</span><span class="p">:</span>
            <span class="n">namespace</span><span class="o">.</span><span class="n">update</span><span class="p">(</span><span class="n">context</span><span class="p">)</span>
        <span class="k">exec</span><span class="p">(</span><span class="nb">str</span><span class="p">(</span><span class="bp">self</span><span class="o">.</span><span class="n">code_builder</span><span class="p">),</span> <span class="n">namespace</span><span class="p">)</span>
        <span class="n">result</span> <span class="o">=</span> <span class="n">namespace</span><span class="p">[</span><span class="bp">self</span><span class="o">.</span><span class="n">func_name</span><span class="p">]()</span>
        <span class="k">return</span> <span class="n">result</span>
</pre></div>
<p>效果:</p>
<div class="highlight"><pre><span></span><span class="o">&gt;&gt;&gt;</span> <span class="kn">from</span> <span class="nn">template4b</span> <span class="kn">import</span> <span class="n">Template</span>
<span class="o">&gt;&gt;&gt;</span> <span class="n">t</span> <span class="o">=</span> <span class="n">Template</span><span class="p">(</span><span class="s1">&#39;{{ open(&quot;/etc/passwd&quot;).read() }}&#39;</span><span class="p">)</span>
<span class="o">&gt;&gt;&gt;</span> <span class="n">t</span><span class="o">.</span><span class="n">render</span><span class="p">()</span>
<span class="n">Traceback</span> <span class="p">(</span><span class="n">most</span> <span class="n">recent</span> <span class="n">call</span> <span class="n">last</span><span class="p">):</span>
  <span class="n">File</span> <span class="s2">&quot;&lt;stdin&gt;&quot;</span><span class="p">,</span> <span class="n">line</span> <span class="mi">1</span><span class="p">,</span> <span class="ow">in</span> <span class="o">&lt;</span><span class="n">module</span><span class="o">&gt;</span>
  <span class="n">File</span> <span class="s2">&quot;/Users/mg/develop/lsbate/part4/template4b.py&quot;</span><span class="p">,</span> <span class="n">line</span> <span class="mi">245</span><span class="p">,</span> <span class="ow">in</span> <span class="n">render</span>
    <span class="n">result</span> <span class="o">=</span> <span class="n">namespace</span><span class="p">[</span><span class="bp">self</span><span class="o">.</span><span class="n">func_name</span><span class="p">]()</span>
  <span class="n">File</span> <span class="s2">&quot;&lt;string&gt;&quot;</span><span class="p">,</span> <span class="n">line</span> <span class="mi">3</span><span class="p">,</span> <span class="ow">in</span> <span class="n">__func_name</span>
<span class="ne">NameError</span><span class="p">:</span> <span class="n">name</span> <span class="s1">&#39;open&#39;</span> <span class="ow">is</span> <span class="ow">not</span> <span class="n">defined</span>
</pre></div>
<p>然后就是要限制通过其他方式调用内置函数的行为:</p>
<div class="highlight"><pre><span></span><span class="o">&gt;&gt;&gt;</span> <span class="kn">from</span> <span class="nn">template4b</span> <span class="kn">import</span> <span class="n">Template</span>
<span class="o">&gt;&gt;&gt;</span> <span class="n">t</span> <span class="o">=</span> <span class="n">Template</span><span class="p">(</span><span class="s1">&#39;{{ escape.__globals__[&quot;__builtins__&quot;][&quot;open&quot;](&quot;/etc/passwd&quot;).read()[0] }}&#39;</span><span class="p">)</span>
<span class="o">&gt;&gt;&gt;</span> <span class="n">t</span><span class="o">.</span><span class="n">render</span><span class="p">()</span>
<span class="s1">&#39;#&#39;</span>
<span class="o">&gt;&gt;&gt;</span>
<span class="o">&gt;&gt;&gt;</span> <span class="n">t</span> <span class="o">=</span> <span class="n">Template</span><span class="p">(</span><span class="s2">&quot;{{ [x for x in [].__class__.__base__.__subclasses__() if x.__name__ == &#39;_wrap_close&#39;][0].__init__.__globals__[&#39;path&#39;].os.system(&#39;date&#39;) }}&quot;</span><span class="p">)</span>
<span class="o">&gt;&gt;&gt;</span> <span class="n">t</span><span class="o">.</span><span class="n">render</span><span class="p">()</span>
<span class="n">Mon</span> <span class="n">May</span> <span class="mi">30</span> <span class="mi">22</span><span class="p">:</span><span class="mi">10</span><span class="p">:</span><span class="mi">46</span> <span class="n">CST</span> <span class="mi">2016</span>
<span class="s1">&#39;0&#39;</span>
</pre></div>
<p>一种解决办法就是不允许在模板中访问以下划线 <cite>_</cite> 开头的属性。
为什么要包括单下划线呢，因为按照约定单下划线开头的属性是私有属性，
不应该在外部访问这些属性。</p>
<p>这里我们使用 <tt class="docutils literal">tokenize</tt> 模块来帮助我们解析生成的代码，然后再找出其中的特殊属性。</p>
<div class="highlight"><pre><span></span><span class="kn">import</span> <span class="nn">io</span>
<span class="kn">import</span> <span class="nn">tokenize</span>


<span class="k">class</span> <span class="nc">Template</span><span class="p">:</span>
    <span class="k">def</span> <span class="nf">__init__</span><span class="p">(</span><span class="bp">self</span><span class="p">,</span> <span class="o">...</span><span class="p">,</span> <span class="n">safe_attribute</span><span class="o">=</span><span class="bp">True</span><span class="p">):</span>
        <span class="o">...</span>
        <span class="bp">self</span><span class="o">.</span><span class="n">safe_attribute</span> <span class="o">=</span> <span class="n">safe_attribute</span>

    <span class="k">def</span> <span class="nf">render</span><span class="p">(</span><span class="bp">self</span><span class="p">,</span> <span class="o">...</span><span class="p">):</span>
        <span class="o">...</span>
        <span class="n">code</span> <span class="o">=</span> <span class="nb">str</span><span class="p">(</span><span class="bp">self</span><span class="o">.</span><span class="n">code_builder</span><span class="p">)</span>
        <span class="k">if</span> <span class="bp">self</span><span class="o">.</span><span class="n">safe_attribute</span><span class="p">:</span>
            <span class="n">check_unsafe_attributes</span><span class="p">(</span><span class="n">code</span><span class="p">)</span>
        <span class="k">exec</span><span class="p">(</span><span class="n">code</span><span class="p">,</span> <span class="n">namespace</span><span class="p">)</span>
        <span class="n">func</span> <span class="o">=</span> <span class="n">namespace</span><span class="p">[</span><span class="bp">self</span><span class="o">.</span><span class="n">func_name</span><span class="p">]</span>

<span class="k">def</span> <span class="nf">check_unsafe_attributes</span><span class="p">(</span><span class="n">s</span><span class="p">):</span>
    <span class="n">g</span> <span class="o">=</span> <span class="n">tokenize</span><span class="o">.</span><span class="n">tokenize</span><span class="p">(</span><span class="n">io</span><span class="o">.</span><span class="n">BytesIO</span><span class="p">(</span><span class="n">s</span><span class="o">.</span><span class="n">encode</span><span class="p">(</span><span class="s1">&#39;utf-8&#39;</span><span class="p">))</span><span class="o">.</span><span class="n">readline</span><span class="p">)</span>
    <span class="n">pre_op</span> <span class="o">=</span> <span class="s1">&#39;&#39;</span>
    <span class="k">for</span> <span class="n">toktype</span><span class="p">,</span> <span class="n">tokval</span><span class="p">,</span> <span class="n">_</span><span class="p">,</span> <span class="n">_</span><span class="p">,</span> <span class="n">_</span> <span class="ow">in</span> <span class="n">g</span><span class="p">:</span>
        <span class="k">if</span> <span class="n">toktype</span> <span class="o">==</span> <span class="n">tokenize</span><span class="o">.</span><span class="n">NAME</span> <span class="ow">and</span> <span class="n">pre_op</span> <span class="o">==</span> <span class="s1">&#39;.&#39;</span> <span class="ow">and</span> \
                <span class="n">tokval</span><span class="o">.</span><span class="n">startswith</span><span class="p">(</span><span class="s1">&#39;_&#39;</span><span class="p">):</span>
            <span class="n">attr</span> <span class="o">=</span> <span class="n">tokval</span>
            <span class="n">msg</span> <span class="o">=</span> <span class="s2">&quot;access to attribute &#39;{0}&#39; is unsafe.&quot;</span><span class="o">.</span><span class="n">format</span><span class="p">(</span><span class="n">attr</span><span class="p">)</span>
            <span class="k">raise</span> <span class="ne">AttributeError</span><span class="p">(</span><span class="n">msg</span><span class="p">)</span>
        <span class="k">elif</span> <span class="n">toktype</span> <span class="o">==</span> <span class="n">tokenize</span><span class="o">.</span><span class="n">OP</span><span class="p">:</span>
            <span class="n">pre_op</span> <span class="o">=</span> <span class="n">tokval</span>
</pre></div>
<p>效果:</p>
<div class="highlight"><pre><span></span><span class="o">&gt;&gt;&gt;</span> <span class="kn">from</span> <span class="nn">template4c</span> <span class="kn">import</span> <span class="n">Template</span>
<span class="o">&gt;&gt;&gt;</span> <span class="n">t</span> <span class="o">=</span> <span class="n">Template</span><span class="p">(</span><span class="s2">&quot;{{ [x for x in [].__class__.__base__.__subclasses__() if x.__name__ == &#39;_wrap_close&#39;][0].__init__.__globals__[&#39;path&#39;].os.system(&#39;date&#39;) }}&quot;</span><span class="p">)</span>
<span class="o">&gt;&gt;&gt;</span> <span class="n">t</span><span class="o">.</span><span class="n">render</span><span class="p">()</span>
<span class="n">Traceback</span> <span class="p">(</span><span class="n">most</span> <span class="n">recent</span> <span class="n">call</span> <span class="n">last</span><span class="p">):</span>
  <span class="n">File</span> <span class="s2">&quot;&lt;stdin&gt;&quot;</span><span class="p">,</span> <span class="n">line</span> <span class="mi">1</span><span class="p">,</span> <span class="ow">in</span> <span class="o">&lt;</span><span class="n">module</span><span class="o">&gt;</span>
  <span class="n">File</span> <span class="s2">&quot;/xxx/lsbate/part4/template4c.py&quot;</span><span class="p">,</span> <span class="n">line</span> <span class="mi">250</span><span class="p">,</span> <span class="ow">in</span> <span class="n">render</span>
    <span class="n">check_unsafe_attributes</span><span class="p">(</span><span class="n">func</span><span class="p">)</span>
  <span class="n">File</span> <span class="s2">&quot;/xxx/lsbate/part4/template4c.py&quot;</span><span class="p">,</span> <span class="n">line</span> <span class="mi">296</span><span class="p">,</span> <span class="ow">in</span> <span class="n">check_unsafe_attributes</span>
    <span class="k">raise</span> <span class="ne">AttributeError</span><span class="p">(</span><span class="n">msg</span><span class="p">)</span>
<span class="ne">AttributeError</span><span class="p">:</span> <span class="n">access</span> <span class="n">to</span> <span class="n">attribute</span> <span class="s1">&#39;__class__&#39;</span> <span class="ow">is</span> <span class="n">unsafe</span><span class="o">.</span>
<span class="o">&gt;&gt;&gt;</span>
<span class="o">&gt;&gt;&gt;</span> <span class="n">t</span> <span class="o">=</span> <span class="n">Template</span><span class="p">(</span><span class="s1">&#39;&lt;h1&gt;{{ title }}&lt;/h1&gt;&#39;</span><span class="p">)</span>
<span class="o">&gt;&gt;&gt;</span> <span class="n">t</span><span class="o">.</span><span class="n">render</span><span class="p">({</span><span class="s1">&#39;title&#39;</span><span class="p">:</span> <span class="s1">&#39;hello&lt;br /&gt;world&#39;</span><span class="p">})</span>
<span class="s1">&#39;&lt;h1&gt;hello&amp;lt;br /&amp;gt;world&lt;/h1&gt;&#39;</span>
</pre></div>
<p>这个系列的文章到目前为止就已经全部完成了。</p>
<p>如果大家感兴趣的话可以尝试使用另外的方式来解析模板内容,
即: 使用词法分析/语法分析的方式来解析模板内容（欢迎分享实现过程）。</p>
<p>P.S. 整个系列的所有文章地址：</p>
<ul class="simple">
<li><a class="reference external" href="https://mozillazg.com/2016/03/let-us-build-a-template-engine-part1.html">让我们一起来构建一个模板引擎（一）</a></li>
<li><a class="reference external" href="https://mozillazg.com/2016/03/let-us-build-a-template-engine-part2.html">让我们一起来构建一个模板引擎（二）</a></li>
<li><a class="reference external" href="https://mozillazg.com/2016/03/let-us-build-a-template-engine-part3.html">让我们一起来构建一个模板引擎（三）</a></li>
<li><a class="reference external" href="https://mozillazg.com/2016/06/let-us-build-a-template-engine-part4.html">让我们一起来构建一个模板引擎（四）</a></li>
</ul>
<p>P.S. 文章中涉及的代码已经放到 GitHub 上了: <a class="reference external" href="https://github.com/mozillazg/lsbate">https://github.com/mozillazg/lsbate</a></p>
<p>2016.06.18 更新：</p>
<ul class="simple">
<li>使用 <tt class="docutils literal">dis</tt> 没法分析嵌套函数的代码，所以 <tt class="docutils literal">check_unsafe_attributes</tt> 部分还需要再完善，
详见 <a class="reference external" href="https://mozillazg.com/2016/05/python-some-security-problems-about-use-exec-function.rst.html">使用 exec 函数时需要注意的一些安全问题</a> 下面的评论。</li>
</ul>
<p>2016.07.10 更新:</p>
<ul class="simple">
<li>已经改为使用 <tt class="docutils literal">tokenize</tt> 分析生成的代码（可以分析嵌套函数）。</li>
</ul>
</div>

                </div>
            </div>
            <!-- /.entry-content -->
<section class="well" id="related-posts">
    <p>Related Posts:</p>
    <ul>
        <li><a href="https://mozillazg.github.io/2016/03/let-us-build-a-template-engine-part2.html">让我们一起来构建一个模板引擎（二）</a></li>
        <li><a href="https://mozillazg.github.io/2016/03/let-us-build-a-template-engine-part3.html">让我们一起来构建一个模板引擎（三）</a></li>
        <li><a href="https://mozillazg.github.io/2016/03/let-us-build-a-template-engine-part1.html">让我们一起来构建一个模板引擎（一）</a></li>
    </ul>
</section>
    <hr/>
    <section class="comments" id="comments">
        <h2>Comments</h2>

        <div id="disqus_thread"></div>
        <script type="text/javascript">
            /* * * CONFIGURATION VARIABLES: EDIT BEFORE PASTING INTO YOUR WEBPAGE * * */
            var disqus_shortname = 'my-github-blog'; // required: replace example with your forum shortname

                    var disqus_identifier = 'let-us-build-a-template-engine-part4';
                var disqus_url = 'https://mozillazg.github.io/2016/06/let-us-build-a-template-engine-part4.html';

            var disqus_config = function () {
                this.language = "zh-hans";
            };

            /* * * DON'T EDIT BELOW THIS LINE * * */
            (function () {
                var dsq = document.createElement('script');
                dsq.type = 'text/javascript';
                dsq.async = true;
                dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
                (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
            })();
        </script>
        <noscript>Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript">comments powered by
            Disqus.</a></noscript>
        <a href="http://disqus.com" class="dsq-brlink">comments powered by <span class="logo-disqus">Disqus</span></a>

    </section>
        </article>
    </section>

        </div>
    </div>
</div>
<footer>
   <div class="container">
      <hr>
      <div class="row">
         <div class="col-xs-10">&copy; 2017 mozillazg
            &middot; Powered by <a href="https://github.com/DandyDev/pelican-bootstrap3" target="_blank">pelican-bootstrap3</a>,
            <a href="http://docs.getpelican.com/" target="_blank">Pelican</a>,
            <a href="http://getbootstrap.com" target="_blank">Bootstrap</a>              <p><small>  <a rel="license" href="http://creativecommons.org/licenses/by-sa/4.0/"><img alt="Creative Commons License" style="border-width:0" src="/static/images/by-sa-80x15.png" /></a>
    &quot;<span xmlns:dct="http://purl.org/dc/terms/" property="dct:title">Huang Huang 的博客</span>&quot; by <a xmlns:cc="http://creativecommons.org/ns#" href="https://mozillazg.github.io" property="cc:attributionName" rel="cc:attributionURL">mozillazg</a> is
  licensed under a <a rel="license" href="http://creativecommons.org/licenses/by-sa/4.0/">Creative Commons Attribution-ShareAlike 4.0 International License</a>, except where indicated otherwise.
</small></p>
         </div>
         <div class="col-xs-2"><p class="pull-right"><i class="fa fa-arrow-up"></i> <a href="#">Back to top</a></p></div>
      </div>
   </div>
</footer>
<script src="https://mozillazg.github.io/theme/js/jquery.min.js"></script>

<!-- Include all compiled plugins (below), or include individual files as needed -->
<script src="https://mozillazg.github.io/theme/js/bootstrap.min.js"></script>

<!-- Enable responsive features in IE8 with Respond.js (https://github.com/scottjehl/Respond) -->
<script src="https://mozillazg.github.io/theme/js/respond.min.js"></script>

    <!-- Disqus -->
    <script type="text/javascript">
        /* * * CONFIGURATION VARIABLES: EDIT BEFORE PASTING INTO YOUR WEBPAGE * * */
        var disqus_shortname = 'my-github-blog'; // required: replace example with your forum shortname

        /* * * DON'T EDIT BELOW THIS LINE * * */
        (function () {
            var s = document.createElement('script');
            s.async = true;
            s.type = 'text/javascript';
            s.src = '//' + disqus_shortname + '.disqus.com/count.js';
            (document.getElementsByTagName('HEAD')[0] || document.getElementsByTagName('BODY')[0]).appendChild(s);
        }());
    </script>
    <!-- End Disqus Code -->
    <!-- Google Analytics Universal -->
    <script type="text/javascript">
        (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
        (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
        m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
        })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

        ga('create', 'UA-77172981-1', 'auto');
        ga('send', 'pageview');
    </script>
    <!-- End Google Analytics Universal Code -->


<script src="https://mozillazg.github.io/theme/js/tocbot.min.js"></script>
<script>
$(document).ready(function(){
  tocbot.init({
    // Where to render the table of contents.
    tocSelector: '.js-toc',
    // Where to grab the headings to build the table of contents.
    contentSelector: '.entry-content',
    // Which headings to grab inside of the contentSelector element.
    headingSelector: 'h2, h3, h4, h5',
  });
});
</script>
</body>
</html>