<!DOCTYPE html>
<html lang="zh-hans" prefix="og: http://ogp.me/ns# fb: https://www.facebook.com/2008/fbml" class="han-init">
<head>
    <title>[django]解决 django 模板中无法正常输入 {{ 或 {% - Huang Huang 的博客</title>
    <!-- Using the latest rendering mode for IE -->
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">


    <link href="https://mozillazg.github.io/favicon.ico" rel="icon">

<link rel="canonical" href="https://mozillazg.github.io/2015/03/django-how-to-both-use-javascript-template-and-django-template.html">

        <meta name="author" content="mozillazg" />
        <meta name="description" content="默认情况下，模板中的 {{ 和 {% 会被当作是 django 模板引擎标签和过滤器的关键字。 如果我们所用的 javascript 模板引擎的关键字也是 {{ 或 {% 的话，会出现无法正常输入 {{ 或 {% 的情况。 比如，下面的模板代码: &lt;script id=&#34;template&#34; type=&#34;x-tmpl-mustache&#34;&gt; {{#stooges}} &lt;li&gt;{{name}}&lt;/li&gt; {{/stooges}} {% test %} &lt;/script&gt; 会报如下错误: TemplateSyntaxError at /foo/bar/ Could not parse the remainder: &#39;#stooges&#39; from &#39;#stooges&#39; 有下面四种解决办法： 临时关掉模板引擎 [ref] : {% verbatim %} &lt;script id=&#34;template&#34; type=&#34;x-tmpl-mustache …" />

    <link href="https://mozillazg.github.io/theme/css/tocbot.css" rel="stylesheet">

        <meta property="og:site_name" content="Huang Huang 的博客" />
        <meta property="og:type" content="article"/>
        <meta property="og:title" content="[django]解决 django 模板中无法正常输入 {{ 或 {%"/>
        <meta property="og:url" content="https://mozillazg.github.io/2015/03/django-how-to-both-use-javascript-template-and-django-template.html"/>
        <meta property="og:description" content="默认情况下，模板中的 {{ 和 {% 会被当作是 django 模板引擎标签和过滤器的关键字。 如果我们所用的 javascript 模板引擎的关键字也是 {{ 或 {% 的话，会出现无法正常输入 {{ 或 {% 的情况。 比如，下面的模板代码: &lt;script id=&#34;template&#34; type=&#34;x-tmpl-mustache&#34;&gt; {{#stooges}} &lt;li&gt;{{name}}&lt;/li&gt; {{/stooges}} {% test %} &lt;/script&gt; 会报如下错误: TemplateSyntaxError at /foo/bar/ Could not parse the remainder: &#39;#stooges&#39; from &#39;#stooges&#39; 有下面四种解决办法： 临时关掉模板引擎 [ref] : {% verbatim %} &lt;script id=&#34;template&#34; type=&#34;x-tmpl-mustache …"/>
        <meta property="article:published_time" content="2015-03-07" />
            <meta property="article:section" content="django" />
            <meta property="article:author" content="mozillazg" />


    <meta name="twitter:card" content="summary">
        <meta name="twitter:site" content="@mozillazg">
        <meta name="twitter:creator" content="@mozillazg">
    <meta name="twitter:domain" content="https://mozillazg.github.io">

    <!-- Bootstrap -->
        <link rel="stylesheet" href="https://mozillazg.github.io/theme/css/bootstrap.min.css" type="text/css"/>
    <link href="https://mozillazg.github.io/theme/css/font-awesome.min.css" rel="stylesheet">

    <link href="https://mozillazg.github.io/theme/css/pygments/github.css" rel="stylesheet">
    <link rel="stylesheet" href="https://mozillazg.github.io/theme/css/style.css" type="text/css"/>
            <link href="https://mozillazg.github.io/static/custom.css" rel="stylesheet">

        <link href="https://mozillazg.github.io/feeds/all.atom.xml" type="application/atom+xml" rel="alternate"
              title="Huang Huang 的博客 ATOM Feed"/>

        <link href="https://mozillazg.github.io/feeds/all.rss.xml" type="application/rss+xml" rel="alternate"
              title="Huang Huang 的博客 RSS Feed"/>


        <link href="https://mozillazg.github.io/feeds/django.atom.xml" type="application/atom+xml" rel="alternate"
              title="Huang Huang 的博客 django ATOM Feed"/>

</head>
<body>

<div class="navbar" role="navigation">
	<div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a href="https://mozillazg.github.io/" class="navbar-brand">
Huang Huang 的博客            </a>
        </div>
        <div class="collapse navbar-collapse navbar-ex1-collapse">
            <ul class="nav navbar-nav">
                    <li><a href="https://mozillazg.github.io/feeds/all.atom.xml">Feed</a></li>
                    <li><a href="/2014/10/pages/about-me.html">About</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
              <li><a href="https://mozillazg.github.io/archives.html"><i class="fa fa-th-list"></i><span class="icon-label">Archives</span></a></li>
            </ul>
        </div>
        <!-- /.navbar-collapse -->
    </div>
</div> <!-- /.navbar -->
<!-- Banner -->
<!-- End Banner -->
<div class="container">
    <div class="row">
        <div class="col-lg-11">
    <section id="content" class="yue">
        <article>
            <header class="text-center">
                <h1>
                    <a href="https://mozillazg.github.io/2015/03/django-how-to-both-use-javascript-template-and-django-template.html"
                       rel="bookmark"
                       title="Permalink to [django]解决 django 模板中无法正常输入 {{ 或 {%">
                        [django]解决 django 模板中无法正常输入 {{ 或 {%
                    </a>
                </h1>
                <p class="published">
                    <time datetime="2015-03-07T00:00:00+00:00">
                    2015-03-07
                    </time>
                </p>
            </header>
            <div class="entry-content">
                <div class="well-sm article-info">
<footer class="post-info">
        <a href="https://mozillazg.github.io/category/django.html">django</a>


    
</footer><!-- /.post-info -->                </div>
                <div>
                <p>默认情况下，模板中的 <tt class="docutils literal">{{</tt> 和 <tt class="docutils literal">{%</tt> 会被当作是 django 模板引擎标签和过滤器的关键字。
如果我们所用的 javascript 模板引擎的关键字也是 <tt class="docutils literal">{{</tt> 或 <tt class="docutils literal">{%</tt> 的话，会出现无法正常输入 <tt class="docutils literal">{{</tt> 或 <tt class="docutils literal">{%</tt> 的情况。</p>
<p>比如，下面的模板代码:</p>
<div class="highlight"><pre><span></span><span class="p">&lt;</span><span class="nt">script</span> <span class="na">id</span><span class="o">=</span><span class="s">&quot;template&quot;</span> <span class="na">type</span><span class="o">=</span><span class="s">&quot;x-tmpl-mustache&quot;</span><span class="p">&gt;</span>
    <span class="cp">{{</span><span class="err">#</span><span class="nv">stooges</span><span class="cp">}}</span>
      <span class="o">&lt;</span><span class="nx">li</span><span class="o">&gt;</span><span class="cp">{{</span><span class="nv">name</span><span class="cp">}}</span><span class="o">&lt;</span><span class="err">/li&gt;</span>
    <span class="cp">{{</span><span class="o">/</span><span class="nv">stooges</span><span class="cp">}}</span>
    <span class="cp">{%</span> <span class="k">test</span> <span class="cp">%}</span>
<span class="p">&lt;/</span><span class="nt">script</span><span class="p">&gt;</span>
</pre></div>
<p>会报如下错误:</p>
<pre class="literal-block">
TemplateSyntaxError at /foo/bar/
Could not parse the remainder: '#stooges' from '#stooges'
</pre>
<p>有下面四种解决办法：</p>
<ul class="simple">
<li>临时关掉模板引擎 <a class="reference external" href="https://docs.djangoproject.com/en/1.7/ref/templates/builtins/#verbatim">[ref]</a> :</li>
</ul>
<div class="highlight"><pre><span></span><span class="cp">{%</span> <span class="k">verbatim</span> <span class="cp">%}</span>
<span class="p">&lt;</span><span class="nt">script</span> <span class="na">id</span><span class="o">=</span><span class="s">&quot;template&quot;</span> <span class="na">type</span><span class="o">=</span><span class="s">&quot;x-tmpl-mustache&quot;</span><span class="p">&gt;</span>
  <span class="cp">{{</span><span class="err">#</span><span class="nv">stooges</span><span class="cp">}}</span>
  <span class="o">&lt;</span><span class="nx">li</span><span class="o">&gt;</span><span class="cp">{{</span><span class="nv">name</span><span class="cp">}}</span><span class="o">&lt;</span><span class="err">/li&gt;</span>
  <span class="cp">{{</span><span class="o">/</span><span class="nv">stooges</span><span class="cp">}}</span>
  <span class="cp">{%</span> <span class="k">test</span> <span class="cp">%}</span>
<span class="p">&lt;/</span><span class="nt">script</span><span class="p">&gt;</span>
<span class="cp">{%</span> <span class="k">endverbatim</span> <span class="cp">%}</span>
</pre></div>
<ul class="simple">
<li>修改 javascript 模板引擎的关键字</li>
<li>使用 <tt class="docutils literal">templatetag</tt> 标签 <a class="reference external" href="https://docs.djangoproject.com/en/1.7/ref/templates/builtins/#templatetag">[ref]</a> :</li>
</ul>
<div class="highlight"><pre><span></span><span class="p">&lt;</span><span class="nt">script</span> <span class="na">id</span><span class="o">=</span><span class="s">&quot;template&quot;</span> <span class="na">type</span><span class="o">=</span><span class="s">&quot;x-tmpl-mustache&quot;</span><span class="p">&gt;</span>
  <span class="cp">{%</span> <span class="k">templatetag</span> <span class="nv">openvariable</span> <span class="cp">%}</span><span class="err">#</span><span class="nx">stooges</span><span class="cp">{%</span> <span class="k">templatetag</span> <span class="nv">closevariable</span> <span class="cp">%}</span>
  <span class="o">&lt;</span><span class="nx">li</span><span class="o">&gt;</span><span class="cp">{%</span> <span class="k">templatetag</span> <span class="nv">openvariable</span> <span class="cp">%}</span><span class="nx">name</span><span class="cp">{%</span> <span class="k">templatetag</span> <span class="nv">closevariable</span> <span class="cp">%}</span><span class="o">&lt;</span><span class="err">/li&gt;</span>
  <span class="cp">{%</span> <span class="k">templatetag</span> <span class="nv">openvariable</span> <span class="cp">%}</span><span class="err">/stooges</span><span class="cp">{%</span> <span class="k">templatetag</span> <span class="nv">closevariable</span> <span class="cp">%}</span>
  <span class="cp">{%</span> <span class="k">templatetag</span> <span class="nv">openblock</span> <span class="cp">%}</span> <span class="nx">test</span> <span class="cp">{%</span> <span class="k">templatetag</span> <span class="nv">closeblock</span> <span class="cp">%}</span>
<span class="p">&lt;/</span><span class="nt">script</span><span class="p">&gt;</span>
</pre></div>
<ul class="simple">
<li>自定义几个标签，用于输入包含关键字的字符串:</li>
</ul>
<div class="highlight"><pre><span></span><span class="x">@register.simple_tag()</span>
<span class="x">def brace(str):</span>
<span class="x">    return &quot;</span><span class="cp">{%</span><span class="k">s</span><span class="o">}</span><span class="s2">&quot; % str</span>


<span class="s2">@register.simple_tag()</span>
<span class="s2">def double_brace(str):</span>
<span class="s2">    return &quot;</span><span class="o">{{</span><span class="p">%</span><span class="nv">s</span><span class="o">}}</span><span class="p">&quot;</span> <span class="p">%</span> <span class="nv">str</span>
</pre></div>
<div class="highlight"><pre><span></span><span class="p">&lt;</span><span class="nt">script</span> <span class="na">id</span><span class="o">=</span><span class="s">&quot;template&quot;</span> <span class="na">type</span><span class="o">=</span><span class="s">&quot;x-tmpl-mustache&quot;</span><span class="p">&gt;</span>
  <span class="cp">{%</span> <span class="k">double_brace</span> <span class="s2">&quot;#stooges&quot;</span> <span class="cp">%}</span>
  <span class="o">&lt;</span><span class="nx">li</span><span class="o">&gt;</span><span class="cp">{%</span> <span class="k">double_brace</span> <span class="s2">&quot;name&quot;</span> <span class="cp">%}</span><span class="o">&lt;</span><span class="err">/li&gt;</span>
  <span class="cp">{%</span> <span class="k">double_brace</span> <span class="s2">&quot;/stooges&quot;</span> <span class="cp">%}</span>
  <span class="cp">{%</span> <span class="k">brace</span> <span class="s2">&quot;% test %&quot;</span> <span class="cp">%}</span>
<span class="p">&lt;/</span><span class="nt">script</span><span class="p">&gt;</span>
</pre></div>
<div class="section" id="id3">
<h2>参考资料</h2>
<ul class="simple">
<li><a class="reference external" href="http://stackoverflow.com/questions/7985594/django-and-mustache-use-the-same-syntax-for-template">http://stackoverflow.com/questions/7985594/django-and-mustache-use-the-same-syntax-for-template</a></li>
<li><a class="reference external" href="https://docs.djangoproject.com/en/1.7/ref/templates/builtins/">https://docs.djangoproject.com/en/1.7/ref/templates/builtins/</a></li>
<li><a class="reference external" href="https://docs.djangoproject.com/en/1.7/howto/custom-template-tags/">https://docs.djangoproject.com/en/1.7/howto/custom-template-tags/</a></li>
</ul>
</div>

                </div>
            </div>
            <!-- /.entry-content -->
    <hr/>
    <section class="comments" id="comments">
        <h2>Comments</h2>

        <div id="disqus_thread"></div>
        <script type="text/javascript">
            /* * * CONFIGURATION VARIABLES: EDIT BEFORE PASTING INTO YOUR WEBPAGE * * */
            var disqus_shortname = 'my-github-blog'; // required: replace example with your forum shortname

                    var disqus_identifier = 'django-how-to-both-use-javascript-template-and-django-template';
                var disqus_url = 'https://mozillazg.github.io/2015/03/django-how-to-both-use-javascript-template-and-django-template.html';

            var disqus_config = function () {
                this.language = "zh-hans";
            };

            /* * * DON'T EDIT BELOW THIS LINE * * */
            (function () {
                var dsq = document.createElement('script');
                dsq.type = 'text/javascript';
                dsq.async = true;
                dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
                (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
            })();
        </script>
        <noscript>Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript">comments powered by
            Disqus.</a></noscript>
        <a href="http://disqus.com" class="dsq-brlink">comments powered by <span class="logo-disqus">Disqus</span></a>

    </section>
        </article>
    </section>

        </div>
    </div>
</div>
<footer>
   <div class="container">
      <hr>
      <div class="row">
         <div class="col-xs-10">&copy; 2017 mozillazg
            &middot; Powered by <a href="https://github.com/DandyDev/pelican-bootstrap3" target="_blank">pelican-bootstrap3</a>,
            <a href="http://docs.getpelican.com/" target="_blank">Pelican</a>,
            <a href="http://getbootstrap.com" target="_blank">Bootstrap</a>              <p><small>  <a rel="license" href="http://creativecommons.org/licenses/by-sa/4.0/"><img alt="Creative Commons License" style="border-width:0" src="/static/images/by-sa-80x15.png" /></a>
    &quot;<span xmlns:dct="http://purl.org/dc/terms/" property="dct:title">Huang Huang 的博客</span>&quot; by <a xmlns:cc="http://creativecommons.org/ns#" href="https://mozillazg.github.io" property="cc:attributionName" rel="cc:attributionURL">mozillazg</a> is
  licensed under a <a rel="license" href="http://creativecommons.org/licenses/by-sa/4.0/">Creative Commons Attribution-ShareAlike 4.0 International License</a>, except where indicated otherwise.
</small></p>
         </div>
         <div class="col-xs-2"><p class="pull-right"><i class="fa fa-arrow-up"></i> <a href="#">Back to top</a></p></div>
      </div>
   </div>
</footer>
<script src="https://mozillazg.github.io/theme/js/jquery.min.js"></script>

<!-- Include all compiled plugins (below), or include individual files as needed -->
<script src="https://mozillazg.github.io/theme/js/bootstrap.min.js"></script>

<!-- Enable responsive features in IE8 with Respond.js (https://github.com/scottjehl/Respond) -->
<script src="https://mozillazg.github.io/theme/js/respond.min.js"></script>

    <!-- Disqus -->
    <script type="text/javascript">
        /* * * CONFIGURATION VARIABLES: EDIT BEFORE PASTING INTO YOUR WEBPAGE * * */
        var disqus_shortname = 'my-github-blog'; // required: replace example with your forum shortname

        /* * * DON'T EDIT BELOW THIS LINE * * */
        (function () {
            var s = document.createElement('script');
            s.async = true;
            s.type = 'text/javascript';
            s.src = '//' + disqus_shortname + '.disqus.com/count.js';
            (document.getElementsByTagName('HEAD')[0] || document.getElementsByTagName('BODY')[0]).appendChild(s);
        }());
    </script>
    <!-- End Disqus Code -->
    <!-- Google Analytics Universal -->
    <script type="text/javascript">
        (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
        (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
        m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
        })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

        ga('create', 'UA-77172981-1', 'auto');
        ga('send', 'pageview');
    </script>
    <!-- End Google Analytics Universal Code -->


<script src="https://mozillazg.github.io/theme/js/tocbot.min.js"></script>
<script>
$(document).ready(function(){
  tocbot.init({
    // Where to render the table of contents.
    tocSelector: '.js-toc',
    // Where to grab the headings to build the table of contents.
    contentSelector: '.entry-content',
    // Which headings to grab inside of the contentSelector element.
    headingSelector: 'h2, h3, h4, h5',
  });
});
</script>
</body>
</html>