<!DOCTYPE html>
<html lang="zh-hans" prefix="og: http://ogp.me/ns# fb: https://www.facebook.com/2008/fbml" class="han-init">
<head>
    <title>如何获取 docker 容器(container)的 ip 地址 - Huang Huang 的博客</title>
    <!-- Using the latest rendering mode for IE -->
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">


    <link href="https://mozillazg.github.io/favicon.ico" rel="icon">

<link rel="canonical" href="https://mozillazg.github.io/2016/01/docker-get-containers-ip-address.html">

        <meta name="author" content="mozillazg" />
        <meta name="description" content="主要命令是 docker inspect: $ sudo docker inspect --format &#39;{{ .NetworkSettings.IPAddress }}&#39; 1f7d8f36523c 172.17.0.6 可以考虑在 ~/.bashrc 中写一个 bash 函数： function docker_ip() { sudo docker inspect --format &#39;{{ .NetworkSettings.IPAddress }}&#39; $1 } source ~/.bashrc 然后： $ docker_ip 1f7d8f36523c 172.17.0.6" />

    <link href="https://mozillazg.github.io/theme/css/tocbot.css" rel="stylesheet">

        <meta property="og:site_name" content="Huang Huang 的博客" />
        <meta property="og:type" content="article"/>
        <meta property="og:title" content="如何获取 docker 容器(container)的 ip 地址"/>
        <meta property="og:url" content="https://mozillazg.github.io/2016/01/docker-get-containers-ip-address.html"/>
        <meta property="og:description" content="主要命令是 docker inspect: $ sudo docker inspect --format &#39;{{ .NetworkSettings.IPAddress }}&#39; 1f7d8f36523c 172.17.0.6 可以考虑在 ~/.bashrc 中写一个 bash 函数： function docker_ip() { sudo docker inspect --format &#39;{{ .NetworkSettings.IPAddress }}&#39; $1 } source ~/.bashrc 然后： $ docker_ip 1f7d8f36523c 172.17.0.6"/>
        <meta property="article:published_time" content="2016-01-12" />
            <meta property="article:section" content="docker" />
            <meta property="article:author" content="mozillazg" />


    <meta name="twitter:card" content="summary">
        <meta name="twitter:site" content="@mozillazg">
        <meta name="twitter:creator" content="@mozillazg">
    <meta name="twitter:domain" content="https://mozillazg.github.io">

    <!-- Bootstrap -->
        <link rel="stylesheet" href="https://mozillazg.github.io/theme/css/bootstrap.min.css" type="text/css"/>
    <link href="https://mozillazg.github.io/theme/css/font-awesome.min.css" rel="stylesheet">

    <link href="https://mozillazg.github.io/theme/css/pygments/github.css" rel="stylesheet">
    <link rel="stylesheet" href="https://mozillazg.github.io/theme/css/style.css" type="text/css"/>
            <link href="https://mozillazg.github.io/static/custom.css" rel="stylesheet">

        <link href="https://mozillazg.github.io/feeds/all.atom.xml" type="application/atom+xml" rel="alternate"
              title="Huang Huang 的博客 ATOM Feed"/>

        <link href="https://mozillazg.github.io/feeds/all.rss.xml" type="application/rss+xml" rel="alternate"
              title="Huang Huang 的博客 RSS Feed"/>


        <link href="https://mozillazg.github.io/feeds/docker.atom.xml" type="application/atom+xml" rel="alternate"
              title="Huang Huang 的博客 docker ATOM Feed"/>

</head>
<body>

<div class="navbar" role="navigation">
	<div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a href="https://mozillazg.github.io/" class="navbar-brand">
Huang Huang 的博客            </a>
        </div>
        <div class="collapse navbar-collapse navbar-ex1-collapse">
            <ul class="nav navbar-nav">
                    <li><a href="https://mozillazg.github.io/feeds/all.atom.xml">Feed</a></li>
                    <li><a href="/2014/10/pages/about-me.html">About</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
              <li><a href="https://mozillazg.github.io/archives.html"><i class="fa fa-th-list"></i><span class="icon-label">Archives</span></a></li>
            </ul>
        </div>
        <!-- /.navbar-collapse -->
    </div>
</div> <!-- /.navbar -->
<!-- Banner -->
<!-- End Banner -->
<div class="container">
    <div class="row">
        <div class="col-lg-11">
    <section id="content" class="yue">
        <article>
            <header class="text-center">
                <h1>
                    <a href="https://mozillazg.github.io/2016/01/docker-get-containers-ip-address.html"
                       rel="bookmark"
                       title="Permalink to 如何获取 docker 容器(container)的 ip 地址">
                        如何获取 docker 容器(container)的 ip 地址
                    </a>
                </h1>
                <p class="published">
                    <time datetime="2016-01-12T00:00:00+00:00">
                    2016-01-12
                    </time>
                </p>
            </header>
            <div class="entry-content">
                <div class="well-sm article-info">
<footer class="post-info">
        <a href="https://mozillazg.github.io/category/docker.html">docker</a>


    
</footer><!-- /.post-info -->                </div>
                <div>
                <p>主要命令是 <code>docker inspect</code>:</p>
<div class="highlight"><pre><span></span>$ sudo docker inspect --format <span class="s1">&#39;{{ .NetworkSettings.IPAddress }}&#39;</span> 1f7d8f36523c
172.17.0.6
</pre></div>


<p>可以考虑在 ~/.bashrc 中写一个 bash 函数：</p>
<div class="highlight"><pre><span></span><span class="x">function docker_ip() {</span>
<span class="x">    sudo docker inspect --format &#39;</span><span class="cp">{{</span> <span class="nv">.NetworkSettings.IPAddress</span> <span class="cp">}}</span><span class="x">&#39; $1</span>
<span class="x">}</span>
</pre></div>


<p><code>source ~/.bashrc</code> 然后：</p>
<div class="highlight"><pre><span></span>$ docker_ip 1f7d8f36523c
172.17.0.6
</pre></div>
                </div>
            </div>
            <!-- /.entry-content -->
    <hr/>
    <section class="comments" id="comments">
        <h2>Comments</h2>

        <div id="disqus_thread"></div>
        <script type="text/javascript">
            /* * * CONFIGURATION VARIABLES: EDIT BEFORE PASTING INTO YOUR WEBPAGE * * */
            var disqus_shortname = 'my-github-blog'; // required: replace example with your forum shortname

                    var disqus_identifier = 'docker-get-containers-ip-address';
                var disqus_url = 'https://mozillazg.github.io/2016/01/docker-get-containers-ip-address.html';

            var disqus_config = function () {
                this.language = "zh-hans";
            };

            /* * * DON'T EDIT BELOW THIS LINE * * */
            (function () {
                var dsq = document.createElement('script');
                dsq.type = 'text/javascript';
                dsq.async = true;
                dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
                (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
            })();
        </script>
        <noscript>Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript">comments powered by
            Disqus.</a></noscript>
        <a href="http://disqus.com" class="dsq-brlink">comments powered by <span class="logo-disqus">Disqus</span></a>

    </section>
        </article>
    </section>

        </div>
    </div>
</div>
<footer>
   <div class="container">
      <hr>
      <div class="row">
         <div class="col-xs-10">&copy; 2017 mozillazg
            &middot; Powered by <a href="https://github.com/DandyDev/pelican-bootstrap3" target="_blank">pelican-bootstrap3</a>,
            <a href="http://docs.getpelican.com/" target="_blank">Pelican</a>,
            <a href="http://getbootstrap.com" target="_blank">Bootstrap</a>              <p><small>  <a rel="license" href="http://creativecommons.org/licenses/by-sa/4.0/"><img alt="Creative Commons License" style="border-width:0" src="/static/images/by-sa-80x15.png" /></a>
    &quot;<span xmlns:dct="http://purl.org/dc/terms/" property="dct:title">Huang Huang 的博客</span>&quot; by <a xmlns:cc="http://creativecommons.org/ns#" href="https://mozillazg.github.io" property="cc:attributionName" rel="cc:attributionURL">mozillazg</a> is
  licensed under a <a rel="license" href="http://creativecommons.org/licenses/by-sa/4.0/">Creative Commons Attribution-ShareAlike 4.0 International License</a>, except where indicated otherwise.
</small></p>
         </div>
         <div class="col-xs-2"><p class="pull-right"><i class="fa fa-arrow-up"></i> <a href="#">Back to top</a></p></div>
      </div>
   </div>
</footer>
<script src="https://mozillazg.github.io/theme/js/jquery.min.js"></script>

<!-- Include all compiled plugins (below), or include individual files as needed -->
<script src="https://mozillazg.github.io/theme/js/bootstrap.min.js"></script>

<!-- Enable responsive features in IE8 with Respond.js (https://github.com/scottjehl/Respond) -->
<script src="https://mozillazg.github.io/theme/js/respond.min.js"></script>

    <!-- Disqus -->
    <script type="text/javascript">
        /* * * CONFIGURATION VARIABLES: EDIT BEFORE PASTING INTO YOUR WEBPAGE * * */
        var disqus_shortname = 'my-github-blog'; // required: replace example with your forum shortname

        /* * * DON'T EDIT BELOW THIS LINE * * */
        (function () {
            var s = document.createElement('script');
            s.async = true;
            s.type = 'text/javascript';
            s.src = '//' + disqus_shortname + '.disqus.com/count.js';
            (document.getElementsByTagName('HEAD')[0] || document.getElementsByTagName('BODY')[0]).appendChild(s);
        }());
    </script>
    <!-- End Disqus Code -->
    <!-- Google Analytics Universal -->
    <script type="text/javascript">
        (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
        (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
        m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
        })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

        ga('create', 'UA-77172981-1', 'auto');
        ga('send', 'pageview');
    </script>
    <!-- End Google Analytics Universal Code -->


<script src="https://mozillazg.github.io/theme/js/tocbot.min.js"></script>
<script>
$(document).ready(function(){
  tocbot.init({
    // Where to render the table of contents.
    tocSelector: '.js-toc',
    // Where to grab the headings to build the table of contents.
    contentSelector: '.entry-content',
    // Which headings to grab inside of the contentSelector element.
    headingSelector: 'h2, h3, h4, h5',
  });
});
</script>
</body>
</html>