<!DOCTYPE html>
<html lang="zh-hans" prefix="og: http://ogp.me/ns# fb: https://www.facebook.com/2008/fbml" class="han-init">
<head>
    <title>django - Mozillazg's Blog</title>
    <!-- Using the latest rendering mode for IE -->
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">


    <link href="http://mozillazg.com/favicon.ico" rel="icon">


    <meta name="author" content="mozillazg" />
    <meta name="keywords" content="django" />

    <!-- Open Graph tags -->
        <meta property="og:site_name" content="Mozillazg's Blog" />
        <meta property="og:type" content="website"/>
        <meta property="og:title" content="Mozillazg's Blog"/>
        <meta property="og:url" content="http://mozillazg.com"/>
        <meta property="og:description" content="Mozillazg's Blog"/>


    <!-- Bootstrap -->
        <link rel="stylesheet" href="http://mozillazg.com/theme/css/bootstrap.min.css" type="text/css"/>
    <link href="http://mozillazg.com/theme/css/font-awesome.min.css" rel="stylesheet">

    <link href="http://mozillazg.com/theme/css/pygments/solarizedlight.css" rel="stylesheet">
    <link rel="stylesheet" href="http://mozillazg.com/theme/css/style.css" type="text/css"/>
            <link href="http://mozillazg.com/static/custom.css" rel="stylesheet">

        <link href="http://mozillazg.com/feeds/all.atom.xml" type="application/atom+xml" rel="alternate"
              title="Mozillazg's Blog ATOM Feed"/>

        <link href="http://mozillazg.com/feeds/all.rss.xml" type="application/rss+xml" rel="alternate"
              title="Mozillazg's Blog RSS Feed"/>



</head>
<body>

<div class="navbar navbar-default navbar-fixed-top" role="navigation">
	<div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a href="http://mozillazg.com/" class="navbar-brand">
Mozillazg's Blog            </a>
        </div>
        <div class="collapse navbar-collapse navbar-ex1-collapse">
            <ul class="nav navbar-nav">
                    <li><a href="/index.html">Home</a></li>
                    <li><a href="/archives.html">Archives</a></li>
                         <li><a href="http://mozillazg.com/2014/10/pages/about-me.html">
                             About me
                          </a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
              <li><a href="http://mozillazg.com/archives.html"><i class="fa fa-th-list"></i><span class="icon-label">Archives</span></a></li>
            </ul>
        </div>
        <!-- /.navbar-collapse -->
    </div>
</div> <!-- /.navbar -->
<!-- Banner -->
<!-- End Banner -->
<div class="container">
    <div class="row">
        <div class="col-sm-9">
            <article>
                <h2><a href="http://mozillazg.com/2013/02/django-variable-subtraction-in-django-templates.html">[django]在模板中对变量作减法操作</a></h2>
                    <div class="well well-sm">
<footer class="post-info">
    <span class="label label-default">Date</span>
    <span class="published">
        <i class="fa fa-calendar"></i><time datetime="2013-02-25T00:00:00+00:00"> 周一 25 二月 2013</time>
    </span>



        <span class="label label-default">Category</span>
        <a href="http://mozillazg.com/category/django.html">django</a>


<span class="label label-default">Tags</span>
	<a href="http://mozillazg.com/tag/django.html">django</a>
        /
	<a href="http://mozillazg.com/tag/python.html">python</a>
    
</footer><!-- /.post-info -->                    </div>
                <div class="summary"><p>我们知道可以使用内置过滤器 <code>add</code> 对变量做加法操作：</p>
<div class="codehilite"><pre><span class="cp">{{</span> <span class="m">3</span><span class="o">|</span><span class="nf">add</span><span class="s2">:&quot;1&quot;</span> <span class="cp">}}</span><span class="x">   # 4</span>
</pre></div>


<p>其实，<code>add</code> 也可以做减法操作：</p>
<div class="codehilite"><pre><span class="cp">{{</span> <span class="m">3</span><span class="o">|</span><span class="nf">add</span><span class="s2">:&quot;-1&quot;</span> <span class="cp">}}</span><span class="x">  # 2</span>
</pre></div>


<h2 id="_1">参考</h2>
<ul>
<li><a href="http://stackoverflow.com/questions/9948095/variable-subtraction-in-django-templates">Variable subtraction in django templates - Stack Overflow</a></li>
</ul>
                    <a class="btn btn-default btn-xs" href="http://mozillazg.com/2013/02/django-variable-subtraction-in-django-templates.html">more ...</a>
                </div>
            </article>
            <hr/>
            <article>
                <h2><a href="http://mozillazg.com/2013/02/django-copy-or-clone-a-query-result-and-insert-it-into-database.html">[django]复制/克隆一条查询结果</a></h2>
                    <div class="well well-sm">
<footer class="post-info">
    <span class="label label-default">Date</span>
    <span class="published">
        <i class="fa fa-calendar"></i><time datetime="2013-02-24T00:00:00+00:00"> 周日 24 二月 2013</time>
    </span>



        <span class="label label-default">Category</span>
        <a href="http://mozillazg.com/category/django.html">django</a>


<span class="label label-default">Tags</span>
	<a href="http://mozillazg.com/tag/python.html">python</a>
        /
	<a href="http://mozillazg.com/tag/django.html">django</a>
    
</footer><!-- /.post-info -->                    </div>
                <div class="summary"><p>复制/克隆一条查询结果，并将它插入到数据库中：</p>
<p>将 pk 值设为 None 即可：</p>
<div class="codehilite"><pre><span class="n">blog</span> <span class="o">=</span> <span class="n">Blog</span><span class="p">(</span><span class="n">name</span><span class="o">=</span><span class="s">&#39;My blog&#39;</span><span class="p">,</span> <span class="n">tagline</span><span class="o">=</span><span class="s">&#39;Blogging is easy&#39;</span><span class="p">)</span>
<span class="n">blog</span><span class="o">.</span><span class="n">save</span><span class="p">()</span> <span class="c"># post.pk == 1</span>

<span class="n">blog</span><span class="o">.</span><span class="n">pk</span> <span class="o">=</span> <span class="bp">None</span>
<span class="n">blog</span><span class="o">.</span><span class="n">save</span><span class="p">()</span> <span class="c"># post.pk == 2</span>
</pre></div>


<p>如果该 model 继承于另一个 model 的话，必须将 <code>pk</code> 和 <code>id</code> 的值都设为 None:</p>
<div class="codehilite"><pre><span class="k">class</span> <span class="nc">ThemeBlog</span><span class="p">(</span><span class="n">Blog</span><span class="p">):</span>
    <span class="n">theme</span> <span class="o">=</span> <span class="n">models</span><span class="o">.</span><span class="n">CharField</span><span class="p">(</span><span class="n">max_length</span><span class="o">=</span><span class="mi">200</span><span class="p">)</span>

<span class="n">django_blog ...</span></pre></div>
                    <a class="btn btn-default btn-xs" href="http://mozillazg.com/2013/02/django-copy-or-clone-a-query-result-and-insert-it-into-database.html">more ...</a>
                </div>
            </article>
            <hr/>
            <article>
                <h2><a href="http://mozillazg.com/2013/02/django-custom-decorators-optional-keyword-arguments-for-views.html">[django]编写作用于视图（view）的装饰器（Decorator）</a></h2>
                    <div class="well well-sm">
<footer class="post-info">
    <span class="label label-default">Date</span>
    <span class="published">
        <i class="fa fa-calendar"></i><time datetime="2013-02-23T00:00:00+00:00"> 周六 23 二月 2013</time>
    </span>



        <span class="label label-default">Category</span>
        <a href="http://mozillazg.com/category/django.html">django</a>


<span class="label label-default">Tags</span>
	<a href="http://mozillazg.com/tag/python.html">python</a>
        /
	<a href="http://mozillazg.com/tag/django.html">django</a>
        /
	<a href="http://mozillazg.com/tag/decorator.html">decorator</a>
        /
	<a href="http://mozillazg.com/tag/zhuang-shi-qi.html">装饰器</a>
    
</footer><!-- /.post-info -->                    </div>
                <div class="summary"><p>本文假设读者已经知道如何编写基本的装饰器代码，否则请自行 google：“python 装饰器”and/or “python decorator”。</p>
<h2 id="_1">不带参数的装饰器</h2>
<!--分两种情况：-->

<!--* 视图函数只有一个 request 参数-->

<div class="codehilite"><pre><span class="kn">from</span> <span class="nn">functools</span> <span class="kn">import</span> <span class="n">wraps</span>


<span class="k">def</span> <span class="nf">object_does_not_exist</span><span class="p">(</span><span class="n">func</span><span class="p">):</span>
    <span class="nd">@wraps</span><span class="p">(</span><span class="n">func</span><span class="p">)</span>
    <span class="k">def</span> <span class="nf">returned_wrapper</span><span class="p">(</span><span class="n">request</span><span class="p">,</span> <span class="o">*</span><span class="n">args</span><span class="p">,</span> <span class="o">**</span><span class="n">kwargs</span><span class="p">):</span>
        <span class="k">try</span><span class="p">:</span>
            <span class="k">return</span> <span class="n">func</span><span class="p">(</span><span class="n">request</span><span class="p">,</span> <span class="o">*</span><span class="n">args</span><span class="p">,</span> <span class="o">**</span><span class="n">kwargs</span><span class="p">)</span>
        <span class="k">except</span> <span class="n">ObjectDoesNotExist</span><span class="p">:</span>
            <span class="k">raise</span> <span class="n">Http404</span><span class="p">()</span>
    <span class="k">return</span> <span class="n">returned_wrapper</span>
</pre></div>


<p>用法：</p>
<div class="codehilite"><pre><span class="nd">@object_does_not_exist</span>
<span class="k">def</span> <span class="nf">detail</span><span class="p">(</span><span class="n">request</span><span class="p">):</span>
    <span class="k">pass</span>
</pre></div>


<h2 id="_2">带参数的装饰器</h2>
<ul>
<li>
<p>第一种写法：</p>
<div class="codehilite"><pre><span class="k">def</span> <span class="nf">object_does_not_exist</span><span class="p">(</span><span class="n">redirect</span><span class="o">=</span><span class="bp">None</span><span class="p">):</span>
    <span class="k">def</span> <span class="nf">decorator ...</span></pre></div></li></ul></!--*></!--分两种情况：-->
                    <a class="btn btn-default btn-xs" href="http://mozillazg.com/2013/02/django-custom-decorators-optional-keyword-arguments-for-views.html">more ...</a>
                </div>
            </article>
            <hr/>
            <article>
                <h2><a href="http://mozillazg.com/2013/02/django-online-server-admin-doesnotexist-at-admin.html">[django]线上部署后，访问 admin 时出现“DoesNotExist at /admin/ Site matching query does not exist.”错误</a></h2>
                    <div class="well well-sm">
<footer class="post-info">
    <span class="label label-default">Date</span>
    <span class="published">
        <i class="fa fa-calendar"></i><time datetime="2013-02-19T00:00:00+00:00"> 周二 19 二月 2013</time>
    </span>



        <span class="label label-default">Category</span>
        <a href="http://mozillazg.com/category/django.html">django</a>


<span class="label label-default">Tags</span>
	<a href="http://mozillazg.com/tag/django.html">django</a>
        /
	<a href="http://mozillazg.com/tag/python.html">python</a>
    
</footer><!-- /.post-info -->                    </div>
                <div class="summary"><p>将 django 项目部署到服务器后，访问 admin 时出现如下错误：</p>
<div class="codehilite"><pre>DoesNotExist at /admin/
Site matching query does not exist.
</pre></div>


<p>上网搜索后，参考 <a href="http://stackoverflow.com/questions/9736975/django-admin-doesnotexist-at-admin">http://stackoverflow.com/questions/9736975/django-admin-doesnotexist-at-admin</a> 修复了该问题，下面记录一下解决过程。</p>
<p>两种解决办法：</p>
<ul>
<li>
<p>第一种办法是：编辑 settings.py 文件，从 <code>INSTALLED_APPS</code> 配置项中移除 <code>'django.contrib.sites',</code>。</p>
</li>
<li>
<p>第二种办法：通过 <code>python manage.py shell</code> 为 Site model 添加一条记录（将网站的域名添加进去）：</p>
<div class="codehilite"><pre><span class="gp">$</span> python manage ...</pre></div></li></ul>
                    <a class="btn btn-default btn-xs" href="http://mozillazg.com/2013/02/django-online-server-admin-doesnotexist-at-admin.html">more ...</a>
                </div>
            </article>
            <hr/>
            <article>
                <h2><a href="http://mozillazg.com/2013/02/django-typeerror-decod-argument-1-must-be-string-not-none.html">[django] 创建后台超级用户时出现 TypeError: decode() argument 1 must be string, not None 错误</a></h2>
                    <div class="well well-sm">
<footer class="post-info">
    <span class="label label-default">Date</span>
    <span class="published">
        <i class="fa fa-calendar"></i><time datetime="2013-02-19T00:00:00+00:00"> 周二 19 二月 2013</time>
    </span>



        <span class="label label-default">Category</span>
        <a href="http://mozillazg.com/category/django.html">django</a>


<span class="label label-default">Tags</span>
	<a href="http://mozillazg.com/tag/python.html">python</a>
        /
	<a href="http://mozillazg.com/tag/django.html">django</a>
    
</footer><!-- /.post-info -->                    </div>
                <div class="summary"><p>错误信息如下：</p>
<div class="codehilite"><pre><span class="go">You just installed Django&#39;s auth system, which means you don&#39;t have any superusers defined.</span>
<span class="go">Would you like to create one now? (yes/no): yes</span>
<span class="go">Traceback (most recent call last):</span>
<span class="go">  File &quot;manage.py&quot;, line 10, in &lt;module&gt;</span>
<span class="go">    execute_from_command_line(sys.argv)</span>
<span class="go">  File &quot;/usr/local/lib/python2.7/dist-packages/django ...</span></pre></div>
                    <a class="btn btn-default btn-xs" href="http://mozillazg.com/2013/02/django-typeerror-decod-argument-1-must-be-string-not-none.html">more ...</a>
                </div>
            </article>
            <hr/>

        <ul class="pagination">
                <li class="prev"><a href="http://mozillazg.com/tag/django5.html">&laquo;</a>
                </li>
                    <li class=""><a
                            href="http://mozillazg.com/tag/django.html">1</a></li>
                    <li class=""><a
                            href="http://mozillazg.com/tag/django2.html">2</a></li>
                    <li class=""><a
                            href="http://mozillazg.com/tag/django3.html">3</a></li>
                    <li class=""><a
                            href="http://mozillazg.com/tag/django4.html">4</a></li>
                    <li class=""><a
                            href="http://mozillazg.com/tag/django5.html">5</a></li>
                    <li class="active"><a
                            href="http://mozillazg.com/tag/django6.html">6</a></li>
                    <li class=""><a
                            href="http://mozillazg.com/tag/django7.html">7</a></li>
                    <li class=""><a
                            href="http://mozillazg.com/tag/django8.html">8</a></li>
                <li class="next"><a
                        href="http://mozillazg.com/tag/django7.html">&raquo;</a></li>
        </ul>

        </div>
        <div class="col-sm-3" id="sidebar">
            <aside>

<section class="well well-sm">
    <ul class="list-group list-group-flush">
            <li class="list-group-item"><h4><i class="fa fa-home fa-lg"></i><span class="icon-label">Social</span></h4>
              <ul class="list-group" id="social">
                <li class="list-group-item"><a href="http://www.douban.com/people/mozillazg/"><i class="fa fa-豆瓣-square fa-lg"></i> 豆瓣</a></li>
                <li class="list-group-item"><a href="https://github.com/mozillazg"><i class="fa fa-fork-me-on-github-square fa-lg"></i> Fork me on GitHub</a></li>
                <li class="list-group-item"><a href="http://about.me/mozillazg"><i class="fa fa-about-me-square fa-lg"></i> About Me</a></li>
                <li class="list-group-item"><a href="http://comic.mozillazg.com"><i class="fa fa-翻译的漫画-square fa-lg"></i> 翻译的漫画</a></li>
                <li class="list-group-item"><a href="http://mozillazg.com/feeds/all.atom.xml"><i class="fa fa-atom-feed-square fa-lg"></i> Atom Feed</a></li>
                <li class="list-group-item"><a href="http://mozillazg.com/feeds/all.rss.xml"><i class="fa fa-rss-feed-square fa-lg"></i> RSS Feed</a></li>
              </ul>
            </li>

            <li class="list-group-item"><h4><i class="fa fa-home fa-lg"></i><span class="icon-label">Recent Posts</span></h4>
                <ul class="list-group" id="recentposts">
                    <li class="list-group-item">
                        <a href="http://mozillazg.com/2015/09/high-performance-django-note-3.html">
                            《High Performance Django》阅读笔记（三）
                        </a>
                    </li>
                    <li class="list-group-item">
                        <a href="http://mozillazg.com/2015/09/high-performance-django-note-2.html">
                            《High Performance Django》阅读笔记（二）
                        </a>
                    </li>
                    <li class="list-group-item">
                        <a href="http://mozillazg.com/2015/09/high-performance-django-note-1.html">
                            《High Performance Django》阅读笔记（一）
                        </a>
                    </li>
                    <li class="list-group-item">
                        <a href="http://mozillazg.com/2014/03/django-save-uploaded-file-with-utf8-encoding-by-custom-model-field.html">
                            [django]通过自定义 Model Field 的方式将上传的文本文件按 UTF-8 编码保存
                        </a>
                    </li>
                    <li class="list-group-item">
                        <a href="http://mozillazg.com/2013/10/django-TypeError-delete-got-an-unexpected-keyword-argument-using.html">
                            [django]修复 &quot;TypeError: delete() got an unexpected keyword argument 'using'&quot;
                        </a>
                    </li>
                </ul>
            </li>

            <li class="list-group-item"><a href="http://mozillazg.com/"><h4><i class="fa fa-home fa-lg"></i><span class="icon-label">Categories</span></h4></a>
                <ul class="list-group" id="categories">
                    <li class="list-group-item">
                        <a href="http://mozillazg.com/category/comics.html">
                            <i class="fa fa-folder-open fa-lg"></i> comics
                        </a>
                    </li>
                    <li class="list-group-item">
                        <a href="http://mozillazg.com/category/database.html">
                            <i class="fa fa-folder-open fa-lg"></i> database
                        </a>
                    </li>
                    <li class="list-group-item">
                        <a href="http://mozillazg.com/category/django.html">
                            <i class="fa fa-folder-open fa-lg"></i> django
                        </a>
                    </li>
                    <li class="list-group-item">
                        <a href="http://mozillazg.com/category/english.html">
                            <i class="fa fa-folder-open fa-lg"></i> english
                        </a>
                    </li>
                    <li class="list-group-item">
                        <a href="http://mozillazg.com/category/firefox.html">
                            <i class="fa fa-folder-open fa-lg"></i> firefox
                        </a>
                    </li>
                    <li class="list-group-item">
                        <a href="http://mozillazg.com/category/flask.html">
                            <i class="fa fa-folder-open fa-lg"></i> flask
                        </a>
                    </li>
                    <li class="list-group-item">
                        <a href="http://mozillazg.com/category/git.html">
                            <i class="fa fa-folder-open fa-lg"></i> git
                        </a>
                    </li>
                    <li class="list-group-item">
                        <a href="http://mozillazg.com/category/go.html">
                            <i class="fa fa-folder-open fa-lg"></i> go
                        </a>
                    </li>
                    <li class="list-group-item">
                        <a href="http://mozillazg.com/category/javascript.html">
                            <i class="fa fa-folder-open fa-lg"></i> javascript
                        </a>
                    </li>
                    <li class="list-group-item">
                        <a href="http://mozillazg.com/category/linux.html">
                            <i class="fa fa-folder-open fa-lg"></i> linux
                        </a>
                    </li>
                    <li class="list-group-item">
                        <a href="http://mozillazg.com/category/mongodb.html">
                            <i class="fa fa-folder-open fa-lg"></i> mongodb
                        </a>
                    </li>
                    <li class="list-group-item">
                        <a href="http://mozillazg.com/category/others.html">
                            <i class="fa fa-folder-open fa-lg"></i> others
                        </a>
                    </li>
                    <li class="list-group-item">
                        <a href="http://mozillazg.com/category/peewee.html">
                            <i class="fa fa-folder-open fa-lg"></i> peewee
                        </a>
                    </li>
                    <li class="list-group-item">
                        <a href="http://mozillazg.com/category/python.html">
                            <i class="fa fa-folder-open fa-lg"></i> python
                        </a>
                    </li>
                    <li class="list-group-item">
                        <a href="http://mozillazg.com/category/reading.html">
                            <i class="fa fa-folder-open fa-lg"></i> reading
                        </a>
                    </li>
                    <li class="list-group-item">
                        <a href="http://mozillazg.com/category/tornado.html">
                            <i class="fa fa-folder-open fa-lg"></i> tornado
                        </a>
                    </li>
                    <li class="list-group-item">
                        <a href="http://mozillazg.com/category/web.html">
                            <i class="fa fa-folder-open fa-lg"></i> web
                        </a>
                    </li>
                    <li class="list-group-item">
                        <a href="http://mozillazg.com/category/windows.html">
                            <i class="fa fa-folder-open fa-lg"></i> windows
                        </a>
                    </li>
                </ul>
            </li>




    <li class="list-group-item"><h4><i class="fa fa-github fa-lg"></i><span class="icon-label">GitHub Repos</span></h4>
        <div id="gh_repos">
            <p class="list-group-item">Status updating...</p>
        </div>
    </li>
    <li class="list-group-item"><h4><i class="fa fa-external-link-square fa-lg"></i><span class="icon-label">Links</span></h4>
      <ul class="list-group" id="links">
        <li class="list-group-item">
            <a href="http://docs.notmyidea.org/alexis/pelican/" target="_blank">
                Pelican
            </a>
        </li>
        <li class="list-group-item">
            <a href="http://python.org" target="_blank">
                Python.org
            </a>
        </li>
        <li class="list-group-item">
            <a href="http://jinja.pocoo.org" target="_blank">
                Jinja2
            </a>
        </li>
      </ul>
    </li>
    </ul>
</section>
            </aside>
        </div>
    </div>
</div>
<footer>
   <div class="container">
      <hr>
      <div class="row">
         <div class="col-xs-10">&copy; 2015 mozillazg
            &middot; Powered by <a href="https://github.com/DandyDev/pelican-bootstrap3" target="_blank">pelican-bootstrap3</a>,
            <a href="http://docs.getpelican.com/" target="_blank">Pelican</a>,
            <a href="http://getbootstrap.com" target="_blank">Bootstrap</a>              <p><small>  <a rel="license" href="http://creativecommons.org/licenses/by-sa/4.0/"><img alt="Creative Commons License" style="border-width:0" src="//i.creativecommons.org/l/by-sa/4.0/80x15.png" /></a>
    &quot;<span xmlns:dct="http://purl.org/dc/terms/" property="dct:title">Mozillazg's Blog</span>&quot; by <a xmlns:cc="http://creativecommons.org/ns#" href="http://mozillazg.com" property="cc:attributionName" rel="cc:attributionURL">mozillazg</a> is
  licensed under a <a rel="license" href="http://creativecommons.org/licenses/by-sa/4.0/">Creative Commons Attribution-ShareAlike 4.0 International License</a>, except where indicated otherwise.
</small></p>
         </div>
         <div class="col-xs-2"><p class="pull-right"><i class="fa fa-arrow-up"></i> <a href="#">Back to top</a></p></div>
      </div>
   </div>
</footer>
<script src="http://mozillazg.com/theme/js/jquery.min.js"></script>

<!-- Include all compiled plugins (below), or include individual files as needed -->
<script src="http://mozillazg.com/theme/js/bootstrap.min.js"></script>

<!-- Enable responsive features in IE8 with Respond.js (https://github.com/scottjehl/Respond) -->
<script src="http://mozillazg.com/theme/js/respond.min.js"></script>

    <!-- GitHub JS -->
    <script type="text/javascript">
        $(document).ready(function () {
            if (!window.jXHR) {
                var jxhr = document.createElement('script');
                jxhr.type = 'text/javascript';
                jxhr.src = 'http://mozillazg.com/theme/js/jXHR.js';
                var s = document.getElementsByTagName('script')[0];
                s.parentNode.insertBefore(jxhr, s);
            }

            github.showRepos({
                user: 'mozillazg',
                count: 5,
                skip_forks: true,
                target: '#gh_repos'
            });
        });
    </script>
    <script src="http://mozillazg.com/theme/js/github.js" type="text/javascript"></script>
    <!-- End GitHub JS Code -->
    <!-- Disqus -->
    <script type="text/javascript">
        /* * * CONFIGURATION VARIABLES: EDIT BEFORE PASTING INTO YOUR WEBPAGE * * */
        var disqus_shortname = 'my-github-blog'; // required: replace example with your forum shortname

        /* * * DON'T EDIT BELOW THIS LINE * * */
        (function () {
            var s = document.createElement('script');
            s.async = true;
            s.type = 'text/javascript';
            s.src = '//' + disqus_shortname + '.disqus.com/count.js';
            (document.getElementsByTagName('HEAD')[0] || document.getElementsByTagName('BODY')[0]).appendChild(s);
        }());
    </script>
    <!-- End Disqus Code -->

</body>
</html>