<!DOCTYPE html>
<html lang="zh-hans" prefix="og: http://ogp.me/ns# fb: https://www.facebook.com/2008/fbml" class="han-init">
<head>
    <title>[django]在模板中对变量作减法操作 - Huang Huang 的博客</title>
    <!-- Using the latest rendering mode for IE -->
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">


    <link href="https://mozillazg.github.io/favicon.ico" rel="icon">

<link rel="canonical" href="https://mozillazg.github.io/2013/02/django-variable-subtraction-in-django-templates.html">

        <meta name="author" content="mozillazg" />
        <meta name="keywords" content="django,python" />
        <meta name="description" content="我们知道可以使用内置过滤器 add 对变量做加法操作： {{ 3|add:&#34;1&#34; }} # 4 其实，add 也可以做减法操作： {{ 3|add:&#34;-1&#34; }} # 2 参考 Variable subtraction in django templates - Stack Overflow" />

    <link href="https://mozillazg.github.io/theme/css/tocbot.css" rel="stylesheet">

        <meta property="og:site_name" content="Huang Huang 的博客" />
        <meta property="og:type" content="article"/>
        <meta property="og:title" content="[django]在模板中对变量作减法操作"/>
        <meta property="og:url" content="https://mozillazg.github.io/2013/02/django-variable-subtraction-in-django-templates.html"/>
        <meta property="og:description" content="我们知道可以使用内置过滤器 add 对变量做加法操作： {{ 3|add:&#34;1&#34; }} # 4 其实，add 也可以做减法操作： {{ 3|add:&#34;-1&#34; }} # 2 参考 Variable subtraction in django templates - Stack Overflow"/>
        <meta property="article:published_time" content="2013-02-25" />
            <meta property="article:section" content="django" />
            <meta property="article:tag" content="django" />
            <meta property="article:tag" content="python" />
            <meta property="article:author" content="mozillazg" />


    <meta name="twitter:card" content="summary">
        <meta name="twitter:site" content="@mozillazg">
        <meta name="twitter:creator" content="@mozillazg">
    <meta name="twitter:domain" content="https://mozillazg.github.io">

    <!-- Bootstrap -->
        <link rel="stylesheet" href="https://mozillazg.github.io/theme/css/bootstrap.min.css" type="text/css"/>
    <link href="https://mozillazg.github.io/theme/css/font-awesome.min.css" rel="stylesheet">

    <link href="https://mozillazg.github.io/theme/css/pygments/github.css" rel="stylesheet">
    <link rel="stylesheet" href="https://mozillazg.github.io/theme/css/style.css" type="text/css"/>
            <link href="https://mozillazg.github.io/static/custom.css" rel="stylesheet">

        <link href="https://mozillazg.github.io/feeds/all.atom.xml" type="application/atom+xml" rel="alternate"
              title="Huang Huang 的博客 ATOM Feed"/>

        <link href="https://mozillazg.github.io/feeds/all.rss.xml" type="application/rss+xml" rel="alternate"
              title="Huang Huang 的博客 RSS Feed"/>


        <link href="https://mozillazg.github.io/feeds/django.atom.xml" type="application/atom+xml" rel="alternate"
              title="Huang Huang 的博客 django ATOM Feed"/>

</head>
<body>

<div class="navbar" role="navigation">
	<div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a href="https://mozillazg.github.io/" class="navbar-brand">
Huang Huang 的博客            </a>
        </div>
        <div class="collapse navbar-collapse navbar-ex1-collapse">
            <ul class="nav navbar-nav">
                    <li><a href="https://mozillazg.github.io/feeds/all.atom.xml">Feed</a></li>
                    <li><a href="/2014/10/pages/about-me.html">About</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
              <li><a href="https://mozillazg.github.io/archives.html"><i class="fa fa-th-list"></i><span class="icon-label">Archives</span></a></li>
            </ul>
        </div>
        <!-- /.navbar-collapse -->
    </div>
</div> <!-- /.navbar -->
<!-- Banner -->
<!-- End Banner -->
<div class="container">
    <div class="row">
        <div class="col-lg-11">
    <section id="content" class="yue">
        <article>
            <header class="text-center">
                <h1>
                    <a href="https://mozillazg.github.io/2013/02/django-variable-subtraction-in-django-templates.html"
                       rel="bookmark"
                       title="Permalink to [django]在模板中对变量作减法操作">
                        [django]在模板中对变量作减法操作
                    </a>
                </h1>
                <p class="published">
                    <time datetime="2013-02-25T00:00:00+00:00">
                    2013-02-25
                    </time>
                </p>
            </header>
            <div class="entry-content">
                <div class="well-sm article-info">
<footer class="post-info">
        <a href="https://mozillazg.github.io/category/django.html">django</a>


<span class="label label-default hide">Tags</span>
	<a href="https://mozillazg.github.io/tag/django.html">django</a>
        /
	<a href="https://mozillazg.github.io/tag/python.html">python</a>
    
</footer><!-- /.post-info -->                </div>
                <div>
                <p>我们知道可以使用内置过滤器 <code>add</code> 对变量做加法操作：</p>
<div class="highlight"><pre><span></span><span class="cp">{{</span> <span class="m">3</span><span class="o">|</span><span class="nf">add</span><span class="s2">:&quot;1&quot;</span> <span class="cp">}}</span><span class="x">   # 4</span>
</pre></div>


<p>其实，<code>add</code> 也可以做减法操作：</p>
<div class="highlight"><pre><span></span><span class="cp">{{</span> <span class="m">3</span><span class="o">|</span><span class="nf">add</span><span class="s2">:&quot;-1&quot;</span> <span class="cp">}}</span><span class="x">  # 2</span>
</pre></div>


<h2>参考</h2>
<ul>
<li><a href="http://stackoverflow.com/questions/9948095/variable-subtraction-in-django-templates">Variable subtraction in django templates - Stack Overflow</a></li>
</ul>
                </div>
            </div>
            <!-- /.entry-content -->
<section class="well" id="related-posts">
    <p>Related Posts:</p>
    <ul>
        <li><a href="https://mozillazg.github.io/2013/01/django-global-template-variable-by-use-custom-context-processor.html">[django]使用自定义 context processor 实现模板全局变量</a></li>
        <li><a href="https://mozillazg.github.io/2013/01/django-pagination-by-use-paginator.html">[django]使用 Paginator 实现分页功能</a></li>
        <li><a href="https://mozillazg.github.io/2013/06/django-south-rename-model-field.html">[django]使用 South 重命名 model 字段名</a></li>
        <li><a href="https://mozillazg.github.io/2013/02/django-offical-coding-style.html">[django]官方编码规范</a></li>
        <li><a href="https://mozillazg.github.io/2013/09/django-group-by-month.html">[django]按月分组统计数据</a></li>
    </ul>
</section>
    <hr/>
    <section class="comments" id="comments">
        <h2>Comments</h2>

        <div id="disqus_thread"></div>
        <script type="text/javascript">
            /* * * CONFIGURATION VARIABLES: EDIT BEFORE PASTING INTO YOUR WEBPAGE * * */
            var disqus_shortname = 'my-github-blog'; // required: replace example with your forum shortname

                    var disqus_identifier = 'django-variable-subtraction-in-django-templates';
                var disqus_url = 'https://mozillazg.github.io/2013/02/django-variable-subtraction-in-django-templates.html';

            var disqus_config = function () {
                this.language = "zh-hans";
            };

            /* * * DON'T EDIT BELOW THIS LINE * * */
            (function () {
                var dsq = document.createElement('script');
                dsq.type = 'text/javascript';
                dsq.async = true;
                dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
                (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
            })();
        </script>
        <noscript>Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript">comments powered by
            Disqus.</a></noscript>
        <a href="http://disqus.com" class="dsq-brlink">comments powered by <span class="logo-disqus">Disqus</span></a>

    </section>
        </article>
    </section>

        </div>
    </div>
</div>
<footer>
   <div class="container">
      <hr>
      <div class="row">
         <div class="col-xs-10">&copy; 2017 mozillazg
            &middot; Powered by <a href="https://github.com/DandyDev/pelican-bootstrap3" target="_blank">pelican-bootstrap3</a>,
            <a href="http://docs.getpelican.com/" target="_blank">Pelican</a>,
            <a href="http://getbootstrap.com" target="_blank">Bootstrap</a>              <p><small>  <a rel="license" href="http://creativecommons.org/licenses/by-sa/4.0/"><img alt="Creative Commons License" style="border-width:0" src="/static/images/by-sa-80x15.png" /></a>
    &quot;<span xmlns:dct="http://purl.org/dc/terms/" property="dct:title">Huang Huang 的博客</span>&quot; by <a xmlns:cc="http://creativecommons.org/ns#" href="https://mozillazg.github.io" property="cc:attributionName" rel="cc:attributionURL">mozillazg</a> is
  licensed under a <a rel="license" href="http://creativecommons.org/licenses/by-sa/4.0/">Creative Commons Attribution-ShareAlike 4.0 International License</a>, except where indicated otherwise.
</small></p>
         </div>
         <div class="col-xs-2"><p class="pull-right"><i class="fa fa-arrow-up"></i> <a href="#">Back to top</a></p></div>
      </div>
   </div>
</footer>
<script src="https://mozillazg.github.io/theme/js/jquery.min.js"></script>

<!-- Include all compiled plugins (below), or include individual files as needed -->
<script src="https://mozillazg.github.io/theme/js/bootstrap.min.js"></script>

<!-- Enable responsive features in IE8 with Respond.js (https://github.com/scottjehl/Respond) -->
<script src="https://mozillazg.github.io/theme/js/respond.min.js"></script>

    <!-- Disqus -->
    <script type="text/javascript">
        /* * * CONFIGURATION VARIABLES: EDIT BEFORE PASTING INTO YOUR WEBPAGE * * */
        var disqus_shortname = 'my-github-blog'; // required: replace example with your forum shortname

        /* * * DON'T EDIT BELOW THIS LINE * * */
        (function () {
            var s = document.createElement('script');
            s.async = true;
            s.type = 'text/javascript';
            s.src = '//' + disqus_shortname + '.disqus.com/count.js';
            (document.getElementsByTagName('HEAD')[0] || document.getElementsByTagName('BODY')[0]).appendChild(s);
        }());
    </script>
    <!-- End Disqus Code -->
    <!-- Google Analytics Universal -->
    <script type="text/javascript">
        (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
        (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
        m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
        })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

        ga('create', 'UA-77172981-1', 'auto');
        ga('send', 'pageview');
    </script>
    <!-- End Google Analytics Universal Code -->


<script src="https://mozillazg.github.io/theme/js/tocbot.min.js"></script>
<script>
$(document).ready(function(){
  tocbot.init({
    // Where to render the table of contents.
    tocSelector: '.js-toc',
    // Where to grab the headings to build the table of contents.
    contentSelector: '.entry-content',
    // Which headings to grab inside of the contentSelector element.
    headingSelector: 'h2, h3, h4, h5',
  });
});
</script>
</body>
</html>